$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/undefined",
             vfCoreVersion: "2.2.21",
             buildTimeStamp: "Tue, 06 Apr 2021 11:21:11 GMT"
          );