---
title: "Ewan Birney: Shaping the future of public engagement"
subtitle: No homepage, yet.
date: 2021-06-04 12:24:50
layout: layouts/full.njk
templateEngineOverride: njk
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }} < Case studies < Public engagement < European Bioinformatics Institute</title>
  <meta name="description" content="EMBL-EBI" /><!-- Describe what this page is about -->
  <meta name="keywords" content="bioinformatics, europe, institute" /><!-- A few keywords that relate to the content of THIS PAGE (not the whol project) -->
  <meta name="author" content="EMBL-EBI" /><!-- Your [project-name] here -->
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#70BDBD" /> <!-- Android Chrome mobile browser tab color -->

  <!-- Add information on the life cycle of this page -->
  <meta name="ebi:owner" content="External Relations" /> <!-- Who should be contacted about changes -->
  <meta name="ebi:review-cycle" content="90" /> <!-- In days, how often should the content be reviewed -->
  <meta name="ebi:last-review" content="2021-03-29" /> <!-- The last time the content was reviewed -->

  <!-- If you link to any other sites frequently, consider optimising performance with a DNS prefetch -->
  <link rel="dns-prefetch" href="//www.ebi.ac.uk" />

  {% include "header.njk" %}
  <link rel="stylesheet" href="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/css/ebi-global.css" />
  <link rel="stylesheet" href="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/css/theme-ebi-services-about.css" />

  <meta name="ebi:masthead-color" content="#000000" />
  <meta name="ebi:masthead-image" content="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.1/images/backgrounds/embl-ebi-background-4.jpg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@emblebi" />
  <meta name="twitter:site:id" content="123582098" />
  <meta name="twitter:creator" content="@emblebi" />
  <meta name="twitter:creator:id" content="123582098" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:url" content="http://www.ebi.ac.uk/about/public-engagement/case-studies/ewan-birney" />
  <meta name="twitter:description" content="{{ title }}" />
</head>

<body class="ebi-vf1-integration"><!-- add any of your classes or IDs -->
{% include "skip-to.njk" %}

  <header id="masthead-black-bar" class="clearfix masthead-black-bar"></header>
  <div id="content">
    <div data-sticky-container>
      <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="content:top" data-btm-anchor="content:bottom">
        <div class="masthead-inner row">
          <!-- local-title -->
          <div class="columns medium-12" id="local-title">
            <h1><a href="/about" title="Back to About us">About us</a></h1>
          </div>
          <!-- /local-title -->
          <!-- local-nav -->
          <nav>
            <ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
              <li class=" first"><a href="/about">Overview</a></li>
              <li><a href="/careers" title="Opportunities at EMBL-EBI">Jobs</a></li>
              <li><a href="/about/people" title="Staff directory">People &amp; groups</a></li>
              <li><a href="/about/news" title="">News</a></li>
              <li class="active"><a href="/about/public-engagement" class="active">Public engagement</a></li>
              <li><a href="/about/events">Events</a></li>
              <li><a href="/about/contact">Contact</a></li>
            </ul>
          </nav>
          <!-- /local-nav -->
        </div>
      </header>
    </div>
    <!-- Suggested layout containers -->
    <section id="main-content-area" class="vf-body" role="main">
      <br/>

      <!-- Import article from contentHub  -->
      <link rel="import" href="https://www.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=110698&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>
      
    </section>
  </div>
  <!-- End suggested layout containers / #content -->

  {% include "footer.njk" %}
  {% include "footer-js.njk" %}
</body>
</html>
