---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/full.njk
templateEngineOverride: njk
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Recruitment during COVID-19 | European Bioinformatics Institute</title>
  <meta name="description" content="We have taken steps to ensure our teams remain safe, yet fully equipped to hire and onboard new colleagues during this time." />
  <meta name="keywords" content="impact, innovation, translation, Industry, annual report" />
  <meta name="author" content="EMBL-EBI" /><!-- Your [project-name] here -->
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#70BDBD" /> <!-- Android Chrome mobile browser tab color -->

  <!-- Add information on the life cycle of this page -->
  <meta name="ebi:owner" content="External Relations" /> <!-- Who should be contacted about changes -->
  <meta name="ebi:review-cycle" content="90" /> <!-- In days, how often should the content be reviewed -->
  <meta name="ebi:last-review" content="2018-04-09" /> <!-- The last time the content was reviewed -->

  <!-- If you link to any other sites frequently, consider optimising performance with a DNS prefetch -->
  <link rel="dns-prefetch" href="//www.ebi.ac.uk" />

  {% include "header.njk" %}
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/css/ebi-global.css" type="text/css" media="all" />

  <meta name="ebi:masthead-color" content="#000000" />
  <meta name="ebi:masthead-image" content="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.1/images/backgrounds/embl-ebi-background-4.jpg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@emblebi" />
  <meta name="twitter:site:id" content="123582098" />
  <meta name="twitter:creator" content="@emblebi" />
  <meta name="twitter:creator:id" content="123582098" />
  <meta name="twitter:title" content="Recruitment during COVID-19" />
  <meta name="twitter:url" content="https://www.ebi.ac.uk/about/jobs/recruitment-covid19/" />
  <meta name="twitter:description" content="We have taken steps to ensure our teams remain safe, yet fully equipped to hire and onboard new colleagues during this time." />
  <meta property="og:image" content="https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/ebi-working-from-home.png?force_format=jpg" />

  <!-- you can replace this with theme-[projectname].css. See http://www.ebi.ac.uk/web/style/colour for details of how to do this -->
  <!-- also inform ES so we can host your colour palette file -->
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/css/theme-embl-petrol.css" type="text/css" media="all" />
  <!-- end CSS-->
</head>

<body class="ebi-vf1-integration"><!-- add any of your classes or IDs -->
{% include "skip-to.njk" %}

  <header id="masthead-black-bar" class="clearfix masthead-black-bar"></header>
  <div data-sticky-container>
    <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="content:top" data-btm-anchor="content:bottom">
      <div class="masthead-inner row">
        <!-- local-title -->
        <div class="columns medium-12" id="local-title">
          <h1><a href="/about" title="Back to About us">About us</a></h1>
        </div>
        <!-- /local-title -->
        <!-- local-nav -->
        <nav>
            <ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
            <li class="first"><a href="/about" class="">Overview</a></li>
            <li class="active "><a href="/about/jobs" class="active" title="Opportunities at EMBL-EBI">Jobs</a></li>
            <li><a href="/about/people" title="Staff directory">People &amp; groups</a></li>
            <li><a href="/about/news" title="">News</a></li>
            <li><a href="/about/public-engagement">Public engagement</a></li>
            <li><a href="/about/events">Events</a></li>
            <li><a href="/about/contact" title="Contact External Relations">Contact us</a></li>
          </ul>
        </nav>
        <!-- /local-nav -->
      </div>
    </header>
  </div>
  <div id="content">
    <!-- Suggested layout containers -->
    <section id="main-content-area" class="" role="main">
      

      <!--.l-main -->
      <main id="main-content-area" role="main" class="row l-main">
        <div class="secondary-menu vf-u-padding__top--400">
          <div class=" ">
            <ul class="menu ">
              <li><a href="/about/jobs" class="">Vacancies</a></li>
              <li><a href="/about/jobs/internships" title="">Internships</a></li>
              <li><a href="/about/jobs/career-profiles">Life at EMBL-EBI</a></li>
              <li class="leaf active "><a href="/about/jobs"
                    class="active">Recruitment during COVID-19</a></li>
              <li class="leaf"><a href="/about/jobs/benefits">Employee benefits</a></li>
              <li><a href="/about/jobs/international-applicants">International applicants</a></li>
            </ul>
          </div>
        </div>

      <!-- Beta banner -->
      <!-- <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=9102&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader> -->

      <!-- Intro -->
      <section class="vf-intro | embl-grid embl-grid--has-centered-content">
        <div>
          <!-- empty -->
        </div>
        <div>
          <h1 class="black-color vf-intro__heading">Recruitment during COVID-19: <span class="nowrap">What to expect</span></h1>
          <p class="vf-lede">As we <a href="/about/our-impact/covid-19" class="vf-link">play our part in tackling the current coronavirus (COVID-19) pandemic</a>, EMBL-EBI’s highest priority is to ensure the continued health and wellbeing of our colleagues and candidates.</p>
          <p class="vf-intro__text">As a result, we have steps in place to ensure our teams remain safe, yet fully equipped to hire and onboard new colleagues during this time.</p>
        </div>
      </section>

      <style>
        body .vf-intro {
          margin-bottom: 75px;
        }
        body .vf-links__list--easy .vf-links__list {
          grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        }
      </style>

      <!-- Navigation -->
      <section class="embl-grid">
        <h3 class="vf-links__heading">On this page</h3>
        <div class="vf-links vf-links__list--easy">
          <ul class="vf-links__list | vf-list">
            <li class="vf-list__item">
              <a class="vf-list__link" href="#application">
                Application
                <svg class="vf-icon vf-icon__arrown--down | vf-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M.249,7.207,11.233,19.678h0a1.066,1.066,0,0,0,1.539,0L23.751,7.207a.987.987,0,0,0-.107-1.414l-1.85-1.557a1.028,1.028,0,0,0-1.438.111L12.191,13.8a.25.25,0,0,1-.379,0L3.644,4.346A1.021,1.021,0,0,0,2.948,4a1,1,0,0,0-.741.238L.356,5.793A.988.988,0,0,0,0,6.478.978.978,0,0,0,.249,7.207Z"></path></svg>
              </a>
            </li>
            <li class="vf-list__item">
              <a class="vf-list__link" href="#interviews">
                Interviews
                <svg class="vf-icon vf-icon__arrown--down | vf-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M.249,7.207,11.233,19.678h0a1.066,1.066,0,0,0,1.539,0L23.751,7.207a.987.987,0,0,0-.107-1.414l-1.85-1.557a1.028,1.028,0,0,0-1.438.111L12.191,13.8a.25.25,0,0,1-.379,0L3.644,4.346A1.021,1.021,0,0,0,2.948,4a1,1,0,0,0-.741.238L.356,5.793A.988.988,0,0,0,0,6.478.978.978,0,0,0,.249,7.207Z"></path></svg>
              </a>
            </li>
            <li class="vf-list__item">
              <a class="vf-list__link" href="#onboarding">
                Onboarding
                <svg class="vf-icon vf-icon__arrown--down | vf-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M.249,7.207,11.233,19.678h0a1.066,1.066,0,0,0,1.539,0L23.751,7.207a.987.987,0,0,0-.107-1.414l-1.85-1.557a1.028,1.028,0,0,0-1.438.111L12.191,13.8a.25.25,0,0,1-.379,0L3.644,4.346A1.021,1.021,0,0,0,2.948,4a1,1,0,0,0-.741.238L.356,5.793A.988.988,0,0,0,0,6.478.978.978,0,0,0,.249,7.207Z"></path></svg>
              </a>
            </li>
            <li class="vf-list__item">
              <a class="vf-list__link" href="#remote">
                Remote working
                <svg class="vf-icon vf-icon__arrown--down | vf-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M.249,7.207,11.233,19.678h0a1.066,1.066,0,0,0,1.539,0L23.751,7.207a.987.987,0,0,0-.107-1.414l-1.85-1.557a1.028,1.028,0,0,0-1.438.111L12.191,13.8a.25.25,0,0,1-.379,0L3.644,4.346A1.021,1.021,0,0,0,2.948,4a1,1,0,0,0-.741.238L.356,5.793A.988.988,0,0,0,0,6.478.978.978,0,0,0,.249,7.207Z"></path></svg>
              </a>
            </li>
          </ul>
        </div>
      </section>


      <!-- Image -->
      <section class="embl-grid embl-grid--has-centered-content">
        <div class="vf-section-header">
          <!-- <h3 class="vf-section-header__heading" id="application">Application</h3> -->
        </div>
        <div class="vf-content">
          <figure class="vf-figure ">
            <img class="vf-figure__image" src="https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/ebi-working-from-home.png?force_format=jpg" alt="Recruitment and work continues from home" />
            <figcaption class="vf-figure__caption">Recruitment and work continues from home. Photo: EMBL-EBI</figcaption>
          </figure>
        </div>
      </section>

      <!-- Application -->
      <section class="embl-grid embl-grid--has-centered-content">
        <div class="vf-section-header">
          <h3 class="vf-section-header__heading" id="application">Application</h3>
        </div>
        <div class="vf-content">
          <p class="vf-intro__text">We are delighted that you are keen to join us. Our application process remains the same:</p>
          <br/>
          <ol>
            <!-- two ol tags to fix indenting -->
            <ol>
              <li>Find the role you want to apply for on our <a href="/about/jobs" class="vf-link">Jobs page</a>.</li>
              <li>Upload your CV and cover letter.</li>
              <li>A qualified panel will assess your application.</li>
              <li>We will contact you with the outcome within 2-4 weeks after the vacancy has closed.</li>
            </ol>
          </ol>
      </div>
      </section>

      <!-- Interviews -->
      <section class="embl-grid embl-grid--has-centered-content">
        <div class="vf-section-header">
          <h3 class="vf-section-header__heading" id="interviews">Interviews</h3>
        </div>
        <div class="vf-content">
          <p class="vf-intro__text">
            During this time, we will only be conducting online job interviews. As part of the process, you will speak to your potential Group or Team leader and you will also have the chance to have an informal catch up with your prospective colleagues for a personal insight into what it's like to work in our incredible teams.
          </p>
        </div>
      </section>

      <!-- Onboarding -->
      <section class="embl-grid embl-grid--has-centered-content">
        <div class="vf-section-header">
          <h3 class="vf-section-header__heading" id="onboarding">Onboarding</h3>
        </div>
        <div class="vf-content">
          <p class="vf-intro__text">
            Over the past year, we have successfully onboarded many new employees into the EMBL-EBI family. All our new starters are set up with the resources, hardware and digital capability to work from home – wherever this may be!
          </p>
          <p class="vf-intro__text">
            If you are currently located overseas, you have the option of starting employment in your home country until restrictions ease.  We make every effort to accommodate individual circumstances and your Recruitment Officer will be able to guide you through the process every step of the way.
          </p>
        </div>
      </section>      
      
      <!-- Remote working & our social side -->
      <section class="embl-grid embl-grid--has-centered-content">
        <div class="vf-section-header">
          <h3 class="vf-section-header__heading" id="remote">Remote working & our social side</h3>
        </div>
        <div class="vf-content">
          <p class="vf-intro__text">
            In order to stay connected and help you feel part of our vibrant team, we offer access to a multitude of activities while working remotely. Some of our most popular sessions have included a virtual MasterChef, fitness classes, boardgames and of course, regular Town Halls with our Directors. 
          </p>
          <p class="vf-intro__text">
            If you have any questions, please email the Recruitment team on <a href="mailto:recruitment@ebi.ac.uk" class="vf-link">recruitment@ebi.ac.uk</a>
          </p>

          <br/>
          <p><a href="/about/jobs/" class="vf-button vf-button--primary vf-button--smXX">View current openings at EMBL-EBI</a></p>
        </div>
      </section>   
      <!-- END VF 2.0 -->
      </main>
      <!--/.l-main -->

      <!--.l-footer -->

    </section>
    <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
    <!--
    <footer id="local-footer" class="local-footer" role="local-footer">
      <div class="row">
        <span class="reference">How to reference this page: ...</span>
      </div>
    </footer>
    -->
    <!-- End optional local footer -->
  </div>
  <!-- End suggested layout containers / #content -->

  <footer>
    <div id="global-footer" class="global-footer">
      <nav id="global-nav-expanded" class="global-nav-expanded row">
        <!-- Footer will be automatically inserted by footer.js -->
      </nav>
      <section id="ebi-footer-meta" class="ebi-footer-meta row">
        <!-- Footer meta will be automatically inserted by footer.js -->
      </section>
    </div>
  </footer>

  {% include "footer.njk" %}
  {% include "footer-js.njk" %}
</body>
</html>
