---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/full.njk
templateEngineOverride: njk
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Contact us < European Bioinformatics Institute</title>
  <meta name="description" content="EMBL-EBI" /><!-- Describe what this page is about -->
  <meta name="keywords" content="bioinformatics, europe, institute" /><!-- A few keywords that relate to the content of THIS PAGE (not the whol project) -->
  <meta name="author" content="EMBL-EBI" /><!-- Your [project-name] here -->
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#70BDBD" /> <!-- Android Chrome mobile browser tab color -->

  <!-- Add information on the life cycle of this page -->
  <meta name="ebi:owner" content="External Relations" /> <!-- Who should be contacted about changes -->
  <meta name="ebi:review-cycle" content="90" /> <!-- In days, how often should the content be reviewed -->
  <meta name="ebi:last-review" content="2018-04-09" /> <!-- The last time the content was reviewed -->

  <!-- If you link to any other sites frequently, consider optimising performance with a DNS prefetch -->
  <link rel="dns-prefetch" href="//www.ebi.ac.uk" />

  {% include "header.njk" %}
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/css/ebi-global.css" type="text/css" media="all" />
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/css/theme-embl-petrol.css" type="text/css" media="all" />

  <meta name="ebi:masthead-color" content="#000000" />
  <meta name="ebi:masthead-image" content="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.1/images/backgrounds/embl-ebi-background-4.jpg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@emblebi" />
  <meta name="twitter:site:id" content="123582098" />
  <meta name="twitter:creator" content="@emblebi" />
  <meta name="twitter:creator:id" content="123582098" />
  <meta name="twitter:title" content="Contact us" />
  <meta name="twitter:url" content="http://www.ebi.ac.uk/about/contact" />
  <meta name="twitter:description" content="Contact details for EMBL-EBI" />

</head>

<body class=""><!-- add any of your classes or IDs -->
  <div id="skip-to">
    <ul>
      <li><a href="#content">Skip to main content</a></li>
      <li><a href="#local-nav">Skip to local navigation</a></li>
      <li><a href="#global-nav">Skip to EBI global navigation menu</a></li>
      <li><a href="#global-nav-expanded">Skip to expanded EBI global navigation menu (includes all sub-sections)</a></li>
    </ul>
  </div>

  <header id="masthead-black-bar" class="clearfix masthead-black-bar">
    <nav class="row">
      <ul id="global-nav" class="menu">
        <!-- set active class as appropriate -->
        <li class="home-mobile"><a href="//www.ebi.ac.uk"></a></li>
        <li class="home"><a href="//www.ebi.ac.uk">EMBL-EBI</a></li>
        <li class="services"><a href="//www.ebi.ac.uk/services">Services</a></li>
        <li class="research"><a href="//www.ebi.ac.uk/research">Research</a></li>
        <li class="training"><a href="//www.ebi.ac.uk/training">Training</a></li>
        <li class="about active"><a href="//www.ebi.ac.uk/about">About us</a></li>
        <li class="search">
          <a href="#" data-toggle="search-global-dropdown"><span class="show-for-small-only">Search</span></a>
          <div id="search-global-dropdown" class="dropdown-pane" data-dropdown data-options="closeOnClick:true;">
          <!-- The dropdown menu will be programatically added by script.js -->
          </div>
        </li>
        <li class="float-right show-for-medium embl-selector">
          <button class="button float-right" type="button" data-toggle="embl-dropdown">Hinxton</button>
          <!-- The dropdown menu will be programatically added by script.js -->
        </li>
      </ul>
    </nav>
  </header>
  <div id="content">
    <div data-sticky-container>
      <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="content:top" data-btm-anchor="content:bottom">
        <div class="masthead-inner row">
          <!-- local-title -->
          <div class="columns medium-12" id="local-title">
            <h1><a href="/about" title="Back to About us">About us</a></h1>
          </div>
          <!-- /local-title -->
          <!-- local-nav -->
          <nav>
            <ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
              <li class=" first"><a href="/about">Overview</a></li>
              <li class=""><a href="/about/jobs" title="Opportunities at EMBL-EBI">Jobs</a></li>
              <li class=""><a href="/about/people" title="Staff directory">People &amp; groups</a></li>
              <li class=""><a href="/about/news" title="">News</a></li>
              <li class=""><a href="/about/events">Events</a></li>
              <li class=" active-trail last active"><a href="/about/contact" title="Contact External Relations" class="active-trail active">Contact us</a></li>
            </ul>
          </nav>
          <!-- /local-nav -->
        </div>
      </header>
    </div>
    <!-- Suggested layout containers -->
    <section id="main-content-area" class="" role="main">
      <!-- Your menu structure should make a breadcrumb redundant, but if a breadcrump is needed uncomment the below -->
      <!-- <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="../../">EBI Framework</a></li>
          <li><a href="../">Sample pages</a></li>
          <li>
            <span class="show-for-sr">Current: </span> Blank boilerplate
          </li>
        </ul>
      </nav> -->

      <section>
        <div class="row">
          <div class=" analytics-content-intro">
            <div class="panel-pane pane-block pane-menu-block-4   secondary-menu pane-menu-block   secondary-menu">
              <ul class="menu menu-tree-menu">
                <li class="first leaf"><a href="#contact" title="Leadership and guidance structure">Contact someone</a></li>
                <li class="leaf"><a href="#getto" title="Funding of EMBL-EBI">Get to EMBL-EBI</a></li>
                <li class="leaf"><a href="#sleep" title="History of EMBL-EBI">Where to sleep</a></li>
              </ul>
            </div>
          </div>
          <div class="medium-12 columns analytics-content-intro">
            <div class="">
              <div class="pane-content">
                <div class="intro-unit">
                  <a name="contact"></a>
                  <h2>Get in touch</h2>
                  <p class="lead">We’re a large organisation, so you’ll get the best results if you make your request to the right place:</p>
                  <div class="row medium-up-4 large-up-5" data-equalizer data-equalize-on="medium">
                    <div class="column">
                      <div  class="">
                        <!-- <h3 style="font-size: 2.5rem;" class="research-background badge"><span class="icon icon-generic" data-icon="}"></span></h3> -->
                        <p data-equalizer-watch>Questions about how to use our data services?</p>
                        <a class="button readmore" href="//www.ebi.ac.uk/support">Online support</a>
                      </div>
                    </div>
                    <div class="column">
                      <div  class="">
                        <p data-equalizer-watch>Looking for a group, or member of our staff?</p>
                        <a class="button readmore" href="//www.ebi.ac.uk/about/people">People &amp; Groups</a>
                      </div>
                    </div>
                    <div class="column">
                      <div  class="">
                        <p data-equalizer-watch>General Enquiries? Contact main reception: </p>

                        <a class="button readmore" href="tel:+441223494444">+44 (0)1223 494 444</a>
                      </div>
                    </div>
                    <!-- <div class="column">
                      <div class="">
                        <p data-equalizer-watch>
                          Looking for updates?
                        </p>
                        <a class="button icon icon-generic readmore" href="//www.ebi.ac.uk/www.twitter.com/emblebi" data-icon='m'> E-mail updates</a>
                      </div>
                    </div> -->
                    <div class="column">
                      <div  class="">
                        <p data-equalizer-watch>
                          Want updates? We’re active on social media:
                        </p>

                        <a class="button secondary icon icon-socialmedia" href="https://www.facebook.com/EMBLEBI/" data-icon='F'></a>
                        <a class="button secondary icon icon-socialmedia" href="http://www.twitter.com/emblebi" data-icon='T'></a>
                        <a class="button secondary icon icon-socialmedia" href="http://www.linkedin.com/company/ebi" data-icon='L'></a>
                        <a class="button secondary icon icon-socialmedia" href="http://www.youtube.com/EMBLmedia" data-icon='Y'></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="intro-unit padding-bottom-none" >
              <a name="getto"></a>
              <h2>Visit EMBL-EBI</h2>
              <p class="lead">The <a href="https://www.google.co.uk/maps/place/Hinxton,+Saffron+Walden+CB10+1SD/@52.0815334,0.1891518,17z/data=!3m1!4b1!4m5!3m4!1s0x47d87ccbfbd2538b:0x7bbdb4cde2779ff3!8m2!3d52.0800838!4d0.186415">Wellcome Genome Campus</a> is located 10 miles (16 km) south of Cambridge, alongside the village of Hinxton, 30km from London Stansted airport. We are served by two local railway stations, and are situated close to Junction 10 of the M11 motorway.</p>
            </div>
            <div class="panel-separator"></div>
            <div class="row">
              <div class="columns medium-6" >
                <div class="pane-content">
                  <script src='https://api.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
                  <link href='https://api.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />
                  <div id='map' style='width: 100%; height: 1200px;'></div>
                  <style type="text/css">
                    #map.fullscreen { width: 100% !important; height: 100% !important; position: fixed; top: 0; left: 0; z-index: 1000; }
                    /*#map .callout { position: absolute; position: absolute; top: 100%; margin-top: -2rem; height: 2rem; }*/
                    #map .button {    margin: .5rem -10px -15px; width: 109%; }
                  </style>
                  <script>
                    mapboxgl.accessToken = 'pk.eyJ1Ijoia2hhd2tpbnNlYmkiLCJhIjoiY2ludTZ2M3ltMDBtNXczbTJueW85ZmJjNyJ9.u6SIfnrYvGe6WFP3fOtaVQ';
                    var map = new mapboxgl.Map({
                      center: [0.189,52.099],
                      zoom: 10.7,
                      minZoom: 10,
                      maxZoom: 13,
                      scrollZoom: false,
                      container: 'map',
                      style: 'mapbox://styles/khawkinsebi/cizfgx5xn00pl2sqz8k989c2b'
                    });

                    var nav = new mapboxgl.NavigationControl();
                    map.addControl(nav, 'top-right');


                    // var markerHeight = 50, markerRadius = 10, linearOffset = 25;
                    // var popupOffsets = {
                    //  'top': [0, 0],
                    //  'top-left': [0,0],
                    //  'top-right': [0,0],
                    //  'bottom': [0, -markerHeight],
                    //  'bottom-left': [linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
                    //  'bottom-right': [-linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
                    //  'left': [markerRadius, (markerHeight - markerRadius) * -1],
                    //  'right': [-markerRadius, (markerHeight - markerRadius) * -1]
                    //  };
                    var popup = new mapboxgl.Popup({anchor: 'right', closeButton: false, closeOnClick: false})
                      .setLngLat([0.188,52.079])
                      .setHTML("<img src='//www.ebi.ac.uk/sites/ebi.ac.uk/files/images/About_us_home/wgc_logo_landscapebig6.jpg' width=200/>"+
                               "<br/><div class='label'>Base of</div><br/>"+
                              //  "Wellcome Genome Campus, <br/>CB10 1SD, United Kingdom<br/>"+
                               "<img class='padding-right-large' src='//www.ebi.ac.uk/web_guidelines/js/events/images/EMBL_EBI-logo.png' width=100 />"+
                               "<img class='padding-right-large' src='//jobs.sanger.ac.uk/incl/img/wtsi_logo.png' width=100 />"+
                               '<br/>'+
                               '<a class="button go-map-fullscreen" onclick="makeFullScreen()" href="#"><span class="icon icon-functional" data-icon="F"></span> Expand the map</a>'+
                               '<a class="button go-map-normal hidden" onclick="makeNormal()" href="#"><span class="icon icon-functional" data-icon="F"></span> Exit full screen map</a>')
                      .addTo(map);

                    var popup = new mapboxgl.Popup({anchor: 'left', closeButton: false, closeOnClick: false})
                      .setLngLat([0.138,52.174])
                      .setHTML("<h5 class='margin-bottom-none'>Cambridge Biomedical Campus</h5>"+
                        "Cambridge University Hospitals (Addenbrooke’s, Papworth, Rosie)<br/>" +
                        "MRC Laboratory of Molecular Biology (LMB)<br/>" +
                        "Cancer Research UK - Cambridge Institute<br/>" +
                        "NIHR Cambridge Biomedical Research Centre<br/>" +
                        "- AstraZeneca<br/>" +
                        "- GlaxoSmithKline Clinical Unit<br/>" +
                        "- e-hospital Project")
                      .addTo(map);

                    var popup = new mapboxgl.Popup({anchor: 'top-right', closeButton: false, closeOnClick: false})
                      .setLngLat([0.117,52.205])
                      .setHTML("<h5 class='margin-bottom-none'>University of Cambridge</h5>"+
                        "School of Clinical Medicine<br/>" +
                        "Autism Research Centre<br/>" +
                        "Alan Turing Institute<br/>" +
                        "Cambridge Cardiovascular<br/>" +
                        "Department of Zoology<br/>")
                      .addTo(map);

                    var popup = new mapboxgl.Popup({anchor: 'left', closeButton: false, closeOnClick: false})
                      .setLngLat([0.204,52.134])
                      .setHTML("<h5 class='margin-bottom-none'>Babraham Institute</h5>")
                      .addTo(map);

                    // jQuery('#map').append('<div class="callout text-center industry-background padding-top-small padding-bottom-small white-color no-underline"><a class="no-underline" href="#"><span class="icon icon-functional" data-icon="F"></span> Make fullscreen</a></div>');
                    function makeFullScreen() {
                      jQuery('#map').addClass('fullscreen');
                      jQuery('.go-map-fullscreen').addClass('hidden');
                      jQuery('.go-map-normal').removeClass('hidden');
                      map.resize();
                    }

                    function makeNormal() {
                      jQuery('#map').removeClass('fullscreen');
                      jQuery('.go-map-fullscreen').removeClass('hidden');
                      jQuery('.go-map-normal').addClass('hidden');
                      map.resize();
                    }
                  </script>
                </div>
              </div>
              <div class="columns medium-6">
                <!-- <span class="label white-color ebi-background  padding-right-medium padding-left-medium"><span class='icon icon-generic' data-icon=']'></span> Getting here</span> -->
                <div class="row medium-up-1">
                  <div class="column">
                    <h3 class='icon icon-generic' data-icon='m'> Post and in person</h3>
                    <p>
                      <a class="external float-left button small margin-right-large" target="_blank" href="https://www.google.co.uk/maps/place/Hinxton,+Saffron+Walden+CB10+1SD/@52.0815334,0.1891518,17z/data=!3m1!4b1!4m5!3m4!1s0x47d87ccbfbd2538b:0x7bbdb4cde2779ff3!8m2!3d52.0800838!4d0.186415">Google Maps</a>
                      The European Bioinformatics Institute (EMBL-EBI)<br/>
                      <a href="https://www.google.co.uk/maps/place/Hinxton,+Saffron+Walden+CB10+1SD/@52.0815334,0.1891518,17z/data=!3m1!4b1!4m5!3m4!1s0x47d87ccbfbd2538b:0x7bbdb4cde2779ff3!8m2!3d52.0800838!4d0.186415">Wellcome Genome Campus</a><br/>
                      Hinxton, Cambridgeshire, CB10 1SD, United Kingdom<br/>
                    </p>
                  </div>
                  <div class="column">
                    <h3 class='icon icon-generic' data-icon='2'> Car</h3>
                    <p>When you arrive pull in at the Security building, which is on your left just before the booths. You will be issued a badge and your host will be contacted.</p>
                    <ul class="accordion" data-accordion>
                      <li class="accordion-item " data-accordion-item>
                        <a href="#" class="accordion-title">From the South</a>
                        <div class="accordion-content" data-tab-content>
                          <ul class="ul1">
                            <li class="li3">Leave the M11 at junction 9 and take the A1301 towards Cambridge.</li>
                            <li class="li3">From the roundabout, take the first left (about 800m), following the sign to Hinxton.</li>
                            <li class="li3">You will come to a small roundabout. Take the first exit to the Genome Campus.</li>
                            <li class="li3">Turn left before the barriers to check in at Security.</li>
                          </ul>
                        </div>
                      </li>
                      <li class="accordion-item " data-accordion-item>
                        <a href="#" class="accordion-title">From the North</a>
                        <div class="accordion-content" data-tab-content>
                          <ul class="ul1">
                            <li class="li3">Leave the M11 at junction 10. Take care not to miss junction 10! It's 40km to the next exit.</li>
                            <li class="li3">Travel towards Saffron Walden, passing a small roundabout. You will come to a second roundabout, with a petrol station.</li>
                            <li class="li3">Take the third exit: A1301 towards Saffron Walden.</li>
                            <li class="li3">Pass the two turnings to the village of Hinxton, and take the next right, at a small roundabout, signposted Genome Campus.</li>
                            <li class="li3">Turn left before the barriers to check in at Security.</li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="column">
                    <h3 class='icon icon-generic' data-icon='2'> Taxi to Hinxton</h3>
                    <p>Costs for recommended companies: approximately £21 from Cambridge, roughly £37 from Stansted Airport. Unbooked taxis could cost over £50.</p>
                    <ul class="accordion" data-accordion>
                      <li class="accordion-item " data-accordion-item>
                        <a href="#" class="accordion-title">Taxi companies</a>
                        <div class="accordion-content" data-tab-content>
                          <ul class="ul1">
                            <li>Walden Cabs: +44 (0)1799 500 500 (for Audley End or Whittlesford Parkway)</li>
                            <li>Select Cars: +44 (0)1799 525 500 (for Audley End or Whittlesford Parkway)</li>
                            <li>Abel Cars: +44 (0)1799 513 313 (for Audley End or Whittlesford) or +44 (0)1223 513 313 (from Cambridge)</li>
                          </ul>
                        </div>
                      </li>
                      <li class="accordion-item " data-accordion-item>
                        <a href="#" class="accordion-title">Private cars (must be pre-booked)</a>
                        <div class="accordion-content" data-tab-content>
                          <ul class="ul1">
                            <li>Mid-Anglia: +44(0)1223-836 000, <a href="mailto:booking@midangliaprivatehire.co.uk">booking@midangliaprivatehire.co.uk</a></li>
                            <li>Cambridge Connections: +44(0)1223-566 654</li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="column">
                    <h3 class='icon icon-generic' data-icon='7'> Rail</h3>
                    <p>There are trains to the area from Cambridge, London Liverpool Street, London King's Cross (adjacent to the St. Pancras EuroStar) and Stansted airport.</p>
                    <p>Nearest stations: Whittlesford Parkway, Audley End, and Great Chesterford.</p>
                    <p class="small">To get to the campus from nearby train stations, be sure to arrange your taxi pick-up in advance. Timetables are available at <a href="http://www.nationalrail.co.uk/">the National Rail website</a>.</p>
                  </div>
                  <div class="column">
                    <h3 class='icon icon-generic' data-icon='4'> Air</h3>
                    <p>The closest airport is London Stansted with with <a href="http://www.stanstedairport.com/destinations-and-guides/a-z-list-of-destinations/" target="_blank">regular connections to many cities in Europe and nearly 200 cities worldwide</a>.</p>
                    <p>Stansted is a <a href="https://www.google.co.uk/maps/dir/Stansted+Airport,+Bassingbourn+Rd,+Stansted+CM24+1QW/Wellcome+Genome+Campus,+Hinxton,+Saffron+Walden+CB10+1SA/@51.97478,0.0757636,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x487604b8a52a1bb7:0x30a4d0976b352648!2m2!1d0.2388661!2d51.8860181!1m5!1m1!1s0x47d87ccc6d10a9c9:0x3f7ad92339a765b6!2m2!1d0.1875079!2d52.0788896!3e0">30-minute drive</a> from the Genome Campus. A pre-booked taxi costs around £37.</p>
                    <p class="small">If you fly into London Heathrow or Gatwick, allow at least 2 hours to reach Hinxton by road. A taxi costs around £101 from Heathrow and £117 from Gatwick.</p>
                  </div>
                  <div class="column">
                    <h3 class='icon icon-generic' data-icon='1'> Campus bus for staff</h3>
                    <p>EMBL-EBI staff can utilise the free Wellcome Genome Campus bus service.<br/><a href="https://helix.wtgc.org/content/bus-timetables" class="small readmore"><span class="icon icon-functional" data-icon="L"></span> Details for staff</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="medium-10 columns analytics-content-left padding-top-xlarge">
            <div class="panel-pane pane-custom pane-5" >
              <div class="pane-content">
                <a name="sleep"></a>
                <h2 class='icon icon-generic' data-icon='a'> Accommodation</h2>
                <p>When attending an EMBL-EBI course or conference, please arrange your own accommodation unless you have been informed that it is included in the registration fee.</p>
              </div>
            </div>
          </div>
          <div class="medium-6 columns analytics-content-right">
          </div>
        </div>
        <div class="row">
          <div class="medium-4 columns analytics-content-footer">
            <div class="panel-pane pane-custom pane-2" >
              <div class="pane-content">
                <h3>Staying on site</h3>
                <p>If you wish to stay in Hinxton, we recommend using the Wellcome Genome Campus Conference Centre accommodation, which is on-site and provides a high level of comfort, free wireless internet and a lovely parkland setting. Book early, though, as space is limited.</p>
                <p><a href="https://conferencecentre.wellcomegenomecampus.org/facilities/accommodation/">Hinxton Hall, Wellcome Genome Campus</a><br />
                  Tel: +44(0) 1223 495 000<br />
                  Fax: +44(0) 1223 495 114<br />
                  <a href="mailto:conference.reception@wellcomegenomecampus.org">conference.reception@wellcomegenomecampus.org</a>
                </p>
              </div>
            </div>
          </div>
          <div class="medium-4 columns analytics-content-footer">
            <div class="panel-pane pane-custom pane-3" >
              <div class="pane-content">
                <h3>Nearby</h3>
                <p>Hinxton is a very small village, with few amenities and infrequent public transport. We recommend staying in Hinxton only if you have your own transport or if you will be attending a fully residential course or conference with all meals provided.</p>
                <p><a href="http://www.redlionhinxton.co.uk" target="_blank">The Red Lion Inn</a>, Hinxton (££)<br />
                  Tel: +44 (0)1799 530 601<br />
                  E-mail: <a href="mailto:info@redlionhinxton.co.uk">info@redlionhinxton.co.uk</a>
                </p>
                <p><a href="http://www.crownhousehotel.com/" target="_blank">Crown House Hotel </a>(£—£££)<br />
                  London Road, Great Chesterford<br />
                  Tel: +44(0)1799 530 515<br />
                  <a href="mailto:stayatthecrownhouse@onetel.net">stayatthecrownhouse@onetel.net</a>
                </p>
                <p><a href="http://www.saffronhotel.co.uk/" target="_blank">The Saffron Hotel</a> (£—££)<a href="http://www.saffronhotel.co.uk/" target="_blank"><br />
                  </a>8-12 High Street,Saffron Walden<br />
                  Tel: +44 (0)1799 522 676<br />
                  <a href="mailto:reservations@saffronhotel.co.uk">reservations@saffronhotel.co.uk</a>
                </p>
                <p><a href="http://www.duxfordlodgehotel.co.uk/" target="_blank">Duxford Lodge Hotel</a> (££—£££)<br />
                  Ickleton Road, Duxford<br />
                  Tel: +44 (0)1223 836 444<br />
                  <a href="mailto:reception@duxfordlodgehotel.co.uk">reception@duxfordlodgehotel.co.uk</a>
                </p>
                <p>Archways Guest House (£)<br />
                  Church Street, Saffron Walden<br />
                  Tel: +44 (0)1799 501 500
                </p>
              </div>
            </div>
          </div>
          <div class="medium-4 columns analytics-content-footer">
            <div class="panel-pane pane-custom pane-4" >
              <div class="pane-content">
                <h3>Central Cambridge</h3>
                <p>Please note that there is very little public transport from Cambridge to Hinxton. We advise that you check methods of payment in advance of your stay as some B&amp;Bs may not accept credit cards.</p>
                <p><a href="http://www.regenthotel.co.uk/" target="_blank">Regent Hotel </a>(££—£££)<a href="http://www.regenthotel.co.uk/" target="_blank"><br />
                  </a>Regent street, Cambridge<br />
                  Tel: +44 (0)1223 351 470<br />
                  <a href="mailto:reservations@regenthotel.co.uk">reservations@regenthotel.co.uk</a>
                </p>
                <p><a href="http://www.centennial-hotel.co.uk/" target="_blank">The Centennial Hotel</a> (£—£££)<br />
                  <a href="http://www.centennial-hotel.co.uk/" target="_blank"></a>Hills Road, Cambridge<br />
                  Tel: +44 (0)1223 314 652
                </p>
                <p><a href="http://www.arundelhousehotels.co.uk" target="_blank">Arundel House Hotel</a> (£—£££)<a href="http://www.arundelhousehotels.co.uk" target="_blank"><br />
                  </a>Chesterton Road, Cambridge<br />
                  Tel: +44 (0)1223 367 701<br />
                  <a href="mailto:info@arundelhousehotels.co.uk">info@arundelhousehotels.co.uk</a>
                </p>
                <p><a href="https://www.travelodge.co.uk/hotels/255/Cambridge-Central-hotel" target="_blank">Travelodge</a> (£—££)<a href="https://www.travelodge.co.uk/hotels/255/Cambridge-Central-hotel" target="_blank"><br />
                  </a>Cambridge Leisure Park, Clifton Way, Cambridge<br />
                  Tel: +44 (0)871 984 6101<br />
                  <a href="http://www.regencyguesthouse.co.uk/" target="_blank"></a>
                </p>
                <p><a href="http://www.regencyguesthouse.co.uk/" target="_blank">The Regency Guesthouse</a> (£)<a href="http://www.regencyguesthouse.co.uk/" target="_blank"><br />
                  </a>7 Regent Terrace, Cambridge<br />
                  Tel: +44 (0)1223 329 626<br />
                  <a href="mailto:info@regencyguesthouse.co.uk">info@regencyguesthouse.co.uk</a>
                </p>
              </div>
            </div>
          </div>
          <div class="medium-4 columns analytics-content-footer">
          </div>
        </div>
      </section>

    </section>
    <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
    <!--
    <footer id="local-footer" class="local-footer" role="local-footer">
      <div class="row">
        <span class="reference">How to reference this page: ...</span>
      </div>
    </footer>
    -->
    <!-- End optional local footer -->
  </div>
  <!-- End suggested layout containers / #content -->

  {% include "footer.njk" %}
  {% include "footer-js.njk" %}
</body>
</html>
