---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/full.njk
templateEngineOverride: njk
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>COVID-19 | Our impact | European Bioinformatics Institute</title>
  <meta name="description" content="Read about the impact of EMBL-EBI on society and the economy: reports, facts and figures" />
  <meta name="keywords" content="impact, innovation, translation, Industry, annual report" />
  <meta name="author" content="EMBL-EBI" /><!-- Your [project-name] here -->
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#70BDBD" /> <!-- Android Chrome mobile browser tab color -->

  <!-- Add information on the life cycle of this page -->
  <meta name="ebi:owner" content="External Relations" /> <!-- Who should be contacted about changes -->
  <meta name="ebi:review-cycle" content="90" /> <!-- In days, how often should the content be reviewed -->
  <meta name="ebi:last-review" content="2018-04-09" /> <!-- The last time the content was reviewed -->

  <!-- If you link to any other sites frequently, consider optimising performance with a DNS prefetch -->
  <link rel="dns-prefetch" href="//www.ebi.ac.uk" />

  <!-- If you have custom icon, replace these as appropriate.
       You can generate them at realfavicongenerator.net -->
  <link rel="icon" type="image/x-icon" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/favicon.ico" />
  <link rel="icon" type="image/png" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="192×192" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/android-chrome-192x192.png" /> <!-- Android (192px) -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/apple-icon-114x114.png" /> <!-- For iPhone 4 Retina display (114px) -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/apple-icon-72x72.png" /> <!-- For iPad (72px) -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/apple-icon-144x144.png" /> <!-- For iPad retinat (144px) -->
  <link rel="apple-touch-icon-precomposed" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/apple-icon-57x57.png" /> <!-- For iPhone (57px) -->
  <link rel="mask-icon" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/safari-pinned-tab.svg" color="#ffffff" /> <!-- Safari icon for pinned tab -->
  <meta name="msapplication-TileColor" content="#2b5797" /> <!-- MS Icons -->
  <meta name="msapplication-TileImage" content="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/mstile-144x144.png" />

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/css/ebi-global.css" type="text/css" media="all" />
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.3/fonts.css" type="text/css" media="all" />

  <!-- Use this CSS file for any custom styling -->
  <!--
    <link rel="stylesheet" href="css/custom.css" type="text/css" media="all" />
  -->

  <meta name="ebi:masthead-color" content="#000000" />
  <meta name="ebi:masthead-image" content="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.1/images/backgrounds/embl-ebi-background-4.jpg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@emblebi" />
  <meta name="twitter:site:id" content="123582098" />
  <meta name="twitter:creator" content="@emblebi" />
  <meta name="twitter:creator:id" content="123582098" />
  <meta name="twitter:title" content="Our impact: COVID-19" />
  <meta name="twitter:url" content="https://www.ebi.ac.uk/about/our-impact" />
  <meta name="twitter:description" content="Read about the impact of EMBL-EBI on society and the economy: reports, facts and figures" />


  <!-- you can replace this with theme-[projectname].css. See http://www.ebi.ac.uk/web/style/colour for details of how to do this -->
  <!-- also inform ES so we can host your colour palette file -->
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/css/theme-embl-petrol.css" type="text/css" media="all" />
  <!-- end CSS-->
</head>

<body class="level2 ebi-vf1-integration"><!-- add any of your classes or IDs -->
  <div id="skip-to">
    <ul>
      <li><a href="#content">Skip to main content</a></li>
      <li><a href="#local-nav">Skip to local navigation</a></li>
      <li><a href="#global-nav">Skip to EBI global navigation menu</a></li>
      <li><a href="#global-nav-expanded">Skip to expanded EBI global navigation menu (includes all sub-sections)</a></li>
    </ul>
  </div>

  <header id="masthead-black-bar" class="clearfix masthead-black-bar">
    <nav class="row">
      <ul id="global-nav" class="menu">
        <!-- set active class as appropriate -->
        <li class="home-mobile"><a href="//www.ebi.ac.uk"></a></li>
        <li class="home"><a href="//www.ebi.ac.uk">EMBL-EBI</a></li>
        <li class="services"><a href="//www.ebi.ac.uk/services">Services</a></li>
        <li class="research"><a href="//www.ebi.ac.uk/research">Research</a></li>
        <li class="training"><a href="//www.ebi.ac.uk/training">Training</a></li>
        <li class="about active"><a href="//www.ebi.ac.uk/about">About us</a></li>
        <li class="search">
          <a href="#" data-toggle="search-global-dropdown"><span class="show-for-small-only">Search</span></a>
          <div id="search-global-dropdown" class="dropdown-pane" data-dropdown data-options="closeOnClick:true;">
          <!-- The dropdown menu will be programatically added by script.js -->
          </div>
        </li>
        <li class="float-right show-for-medium embl-selector">
          <button class="button float-right" type="button" data-toggle="embl-dropdown">Hinxton</button>
          <!-- The dropdown menu will be programatically added by script.js -->
        </li>
      </ul>
    </nav>
  </header>
  <div data-sticky-container>
    <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="content:top" data-btm-anchor="content:bottom">
      <div class="masthead-inner row">
        <!-- local-title -->
        <div class="columns medium-12" id="local-title">
          <h1><a href="/about" title="Back to About us">About us</a></h1>
        </div>
        <!-- /local-title -->
        <!-- local-nav -->
        <nav>
          <ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
            <li class="active-trail last active first"><a href="/about" class="active-trail active">Overview</a></li>
            <li class=""><a href="/about/jobs" title="Opportunities at EMBL-EBI">Jobs</a></li>
            <li class=""><a href="/about/people" title="Staff directory">People &amp; groups</a></li>
            <li class=""><a href="/about/news" title="">News</a></li>
            <li class=""><a href="/about/events">Events</a></li>
            <li class=""><a href="/about/contact" title="Contact External Relations">Contact us</a></li>
          </ul>
        </nav>
        <!-- /local-nav -->
      </div>
    </header>
  </div>
  <div id="content">
    <!-- Suggested layout containers -->
    <div class="row">
      <div class="secondary-menu vf-u-padding__top--200">
        <div class="menu-block-wrapper menu-block-4 menu-name-main-menu parent-mlid-0 menu-level-3">
        <ul class="menu menu-tree-menu"><li class="first leaf has-children menu-mlid-3057"><a href="/about/leadership" title="Leadership and guidance structure">Leadership</a></li>
        <li class="leaf menu-mlid-3075"><a href="/about/funding" title="Funding of EMBL-EBI">Funding</a></li>
        <li class="leaf menu-mlid-3079"><a href="/about/background" title="History of EMBL-EBI">Background</a></li>
        <li class="leaf has-children menu-mlid-3076"><a href="/about/collaborations" title="EMBL-EBI partnerships">Collaborations</a></li>
        <li class="leaf has-children  menu-mlid-14438"><a href="/about/our-impact" title="Impact: reports, facts and figures" class="">Our impact</a></li>
        <li class="leaf has-children "><a href="/about/digital-bookshelf" title="Digital bookshelf" class="">Digital Bookshelf</a></li>
        <li class="last leaf has-children menu-mlid-14440"><a href="/about/equality-in-science">Equality and Diversity</a></li>
        </ul></div>
      </div>
    </div>
    <section id="main-content-area" class="vf-body" role="main">
      <!--.l-main -->
      <div class="vf-grid">
      <main id="main-content-area" role="main" class="">

      <!-- Beta banner -->
      <!-- <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=9102&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader> -->

      <!-- Videos -->
      <section class="embl-grid embl-grid--has-centered-content vf-u-margin__top--1200 vf-u-margin__bottom--800">
        <div>
          <!-- <h4 class="vf-text vf-text-heading--3 vf-u-margin__top--sm">EMBL-EBI <span class="nowrap">at 25 years</span></h4> -->
        </div>
        <div>
          <h1 class="black-color vf-intro__heading vf-u-margin__bottom--400">EMBL-EBI response to COVID-19</h1>
          <!-- <h1 class="black-color vf-intro__heading">EMBL-EBI response to COVID-19</h1> -->
          <!-- <p class="vf-lede vf-text">What we're doing to tackle <span class="nowrap">COVID-19</span>.</p> -->
          <p class="vf-text vf-lede">
            While the physical EMBL-EBI site is closed, staff continue to work from home to tackle COVID-19.
          </p>

          <!-- <a href="#" data-open="videoModal-5">
            <img class="orbit-image" src="/about/our-impact/video-teaser--public-private-partnerships.jpg" !inline alt="Thought leader video still">
          </a>
          <figcaption class="vf-text vf-text-body--4"><a href="#" data-open="videoModal-5">In Focus: Public-private partnerships; <span class="vf-link">watch the video</a>.</figcaption> -->
        </div>
      </section>

      <section class="embl-grid">
        <div><!-- empty --></div>
        <!-- <h3 class="vf-links__heading">On this page</h3> -->
        <div class="vf-links vf-links__list--easy">
          <h3 class="vf-links__heading">On this page</h3>
          <ul class="vf-links__list | vf-list">
            <li class="vf-list__item">
              <a class="vf-list__link" href="#tackling">
                COVID-19 Data Portal launch
                <svg class="vf-icon vf-icon__arrown--down | vf-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M.249,7.207,11.233,19.678h0a1.066,1.066,0,0,0,1.539,0L23.751,7.207a.987.987,0,0,0-.107-1.414l-1.85-1.557a1.028,1.028,0,0,0-1.438.111L12.191,13.8a.25.25,0,0,1-.379,0L3.644,4.346A1.021,1.021,0,0,0,2.948,4a1,1,0,0,0-.741.238L.356,5.793A.988.988,0,0,0,0,6.478.978.978,0,0,0,.249,7.207Z"></path></svg>
              </a>
            </li>
            <li class="vf-list__item">
              <a class="vf-list__link" href="#collaborations">
                Collaborations, publications
                <svg class="vf-icon vf-icon__arrown--down | vf-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M.249,7.207,11.233,19.678h0a1.066,1.066,0,0,0,1.539,0L23.751,7.207a.987.987,0,0,0-.107-1.414l-1.85-1.557a1.028,1.028,0,0,0-1.438.111L12.191,13.8a.25.25,0,0,1-.379,0L3.644,4.346A1.021,1.021,0,0,0,2.948,4a1,1,0,0,0-.741.238L.356,5.793A.988.988,0,0,0,0,6.478.978.978,0,0,0,.249,7.207Z"></path></svg>
              </a>
            </li>
            <li class="vf-list__item">
              <a class="vf-list__link" href="#additional">
                Additional resources
                <svg class="vf-icon vf-icon__arrown--down | vf-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M.249,7.207,11.233,19.678h0a1.066,1.066,0,0,0,1.539,0L23.751,7.207a.987.987,0,0,0-.107-1.414l-1.85-1.557a1.028,1.028,0,0,0-1.438.111L12.191,13.8a.25.25,0,0,1-.379,0L3.644,4.346A1.021,1.021,0,0,0,2.948,4a1,1,0,0,0-.741.238L.356,5.793A.988.988,0,0,0,0,6.478.978.978,0,0,0,.249,7.207Z"></path></svg>
              </a>
            </li>
            <li class="vf-list__item">
              <a class="vf-list__link" href="#status-updates">
                EMBL-EBI Status updates
                <svg class="vf-icon vf-icon__arrown--down | vf-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M.249,7.207,11.233,19.678h0a1.066,1.066,0,0,0,1.539,0L23.751,7.207a.987.987,0,0,0-.107-1.414l-1.85-1.557a1.028,1.028,0,0,0-1.438.111L12.191,13.8a.25.25,0,0,1-.379,0L3.644,4.346A1.021,1.021,0,0,0,2.948,4a1,1,0,0,0-.741.238L.356,5.793A.988.988,0,0,0,0,6.478.978.978,0,0,0,.249,7.207Z"></path></svg>
              </a>
            </li>
            <li class="vf-list__item">
              <a class="vf-list__link" href="#recruitment">
                Recruitment
                <svg class="vf-icon vf-icon__arrown--down | vf-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M.249,7.207,11.233,19.678h0a1.066,1.066,0,0,0,1.539,0L23.751,7.207a.987.987,0,0,0-.107-1.414l-1.85-1.557a1.028,1.028,0,0,0-1.438.111L12.191,13.8a.25.25,0,0,1-.379,0L3.644,4.346A1.021,1.021,0,0,0,2.948,4a1,1,0,0,0-.741.238L.356,5.793A.988.988,0,0,0,0,6.478.978.978,0,0,0,.249,7.207Z"></path></svg>
              </a>
            </li>
            <li class="vf-list__item">
              <a class="vf-list__link" href="#embl-response">
                EMBL Response
                <svg class="vf-icon vf-icon__arrown--down | vf-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M.249,7.207,11.233,19.678h0a1.066,1.066,0,0,0,1.539,0L23.751,7.207a.987.987,0,0,0-.107-1.414l-1.85-1.557a1.028,1.028,0,0,0-1.438.111L12.191,13.8a.25.25,0,0,1-.379,0L3.644,4.346A1.021,1.021,0,0,0,2.948,4a1,1,0,0,0-.741.238L.356,5.793A.988.988,0,0,0,0,6.478.978.978,0,0,0,.249,7.207Z"></path></svg>
              </a>
            </li>
            
          </ul>
        </div>
      </section>


      <!-- What we do to tackle COVID-19 -->
      <section class="embl-grid | vf-u-fullbleed vf-u-background-color--grey--lightest vf-u-padding__top--800 vf-u-padding__bottom--800" id="tackling">
        <div>
          <h4 class="vf-text vf-text-heading--3 vf-u-margin__top-- vf-u-text-color--ui--black">What we're doing to tackle <span class="nowrap">COVID-19</span></h4>
        </div>
        <div class="vf-grid vf-grid__col-3 tackle">
          <style>
          {# .tackle .vf-card {
            grid-template-rows: 170px 1fr
          } #}
          </style>
          {% render '@vf-card', {
            "card_heading": "COVID-19 Data Portal",
            "card_subheading": "",
            "variant": "bordered",
            "newTheme": "primary",
            "card_href": "https://www.covid19dataportal.org",
            "card_image": "https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/2020/04/covid19_portal_banner_transparent3.png?func=crop&w=500&h=300",
            "card_text": "We have launched a collaborative space for sharing and analysing COVID-19 related data.",
            "card_image__alt": "COVID-19"
          } %}
          {% render '@vf-card', {
            "card_heading": "COVID-19 data sharing: National efforts",
            "card_subheading": "",
            "variant": "bordered",
            "newTheme": "primary",
            "card_href": "http://www.youtube.com/watch?v=iYHCrwxb0pk&feature=emb_logo",
            "card_image": "https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/covid19-portal-norway.jpg",
            "card_text": "Building on the COVID-19 Data Portal, a number of countries have launched their own national portals. Watch the video.",
            "card_image__alt": "YouTube video image"
          } %}
          {% render '@vf-card', {
            "card_heading": "Become a collaborator",
            "card_subheading": "",
            "variant": "bordered",
            "newTheme": "primary",
            "card_href": "mailto:virus-dataflow@ebi.ac.uk",
            "card_image": "https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/CABANA_group02438.jpg",
            "card_text": "Interested in getting involved in the COVID-19 Data Portal? Contact us.",
            "card_image__alt": "EMBL-EBI staff"
          } %}
        </div>
      </section>

      {# <style>
      .vf-card__image {
        /* this works better when a square-ish image cover needs to be cropped */
        object-position: bottom;
      }
      .ebi-coronavirus-missions .vf-card .vf-button:visited {
        color: #fff;
      }
      .ebi-coronavirus-missions .vf-card {
        align-self: baseline;
        grid-template-rows: 216px 1fr;
      }
      .ebi-coronavirus-missions .vf-card .vf-card__image {
        max-height: 216px;
        object-position: right;
      }
      
      .ebi-coronavirus-missions .vf-card__content {
      }
      .vf-card.vf-card--no-image{
        grid-template-rows: auto;
      }
      .ebi-vf1-integration .vf-button--primary.vf-button--outline:hover, .ebi-vf1-integration .vf-button--primary.vf-button--outline:visited {
        color: var(--vf-button-border-color) !important;
      }
      </style> #}
  
      <!-- Collaborations and publications -->
      <section class="embl-grid embl-grid--has-sidebar" id="collaborations">
      <div>
        <h3 class="vf-text vf-text-heading--3">
          Collaborations and publications
        </h3>
        <!-- <span class="vf-text">EMBL-EBI at a glance</span> -->
      </div>
      <div class="vf-content">
        <div>
          <h4 class="vf-text vf-text-heading--3 vf-u-margin__top--">
            Latest COVID-19 research
          </h4>
          <p class="vf-text-body vf-text-body--3">
            EMBL-EBI researchers are helping produce research papers on COVID-19.
          </p>
          <section class="vf-grid vf-grid__col-3">
            <article>
            <a href="https://doi.org/10.1016/j.cell.2020.06.034">The Global Phosphorylation Landscape of SARS-CoV-2 Infection</a><br/>
            </article>
            <article>
            <a href="https://science.sciencemag.org/content/early/2020/10/14/science.abe9403">Comparative Host-Coronavirus Protein Interaction Networks Reveal Pan-Viral Disease Mechanisms</a><br/>
            </article>
            <article>
            <a href="https://virological.org/t/lineage-specific-growth-of-sars-cov-2-b-1-1-7-during-the-english-national-lockdown/575">Lineage-specific growth of SARS-CoV-2 B.1.1.7 during the English national lockdown</a> 
            <br/><span class="vf-badge vf-badge--outline">Preprint</span>
            </article>
            <article>
            <a href="https://virological.org/t/issues-with-sars-cov-2-sequencing-data/473">Issues with SARS-CoV-2 sequencing data</a> 
            <br/><span class="vf-badge vf-badge--outline">Preprint</span><br/>
            </article>
            <article>
              <a href="https://academic.oup.com/nar/article/49/D1/D29/6007661?guestAccessKey=50b3f35a-ebcd-4dc1-8abb-0de7ff500237">The European Bioinformatics Institute: empowering cooperation in response to a global health crisis</a> 
              <br/>
            </article>
            <article>
              <a href="https://europepmc.org/article/MED/33206959">The IMEx coronavirus interactome: an evolving map of Coronaviridae-host molecular interactions</a> 
              <br/>
            </article>

            
          </section>
        </div>
      </div>
        <div>
          <h4 class="vf-text vf-text-heading--3 vf-u-margin__top--">
            COVID-19 datasets
          </h4>
          <p class="vf-text-body vf-text-body--3">
            EMBL-EBI data resources for COVID-19 research:
          </p>
          <ul>
            <li><a href="https://www.ebi.ac.uk/chembl/">ChEMBL SARS-CoV-2 data</a></li>
            <li><a href="https://www.ebi.ac.uk/intact/query/annot:%22dataset:coronavirus%22">IntAct coronavirus dataset</a></li>
            <li><a href="https://www.ebi.ac.uk/complexportal/complex/CPX-5683">Complex Portal dataset</a></li>
            <li><a href="https://reactome.org/about/news/161-version-74-released">SARS-CoV-2 infection pathways in Reactome</a></li>
            <li><a href="https://www.ebi.ac.uk/gxa/sc/experiments?experimentProjects=%22Covid-19%22">Gene expression in SARS-Cov-2</a></li>
          </ul>
          <br/>
        </div>
      </section>

      <!-- Additional resources -->
      <section class="embl-grid | vf-u-fullbleed vf-u-background-color--grey--lightest vf-u-padding__top--800 vf-u-padding__bottom--800" id="additional">
          <h4 class="vf-text vf-text-heading--3">
            Additional resources
          </h4>
          <section class="vf-grid vf-grid__col-3">
            <div class="vf-box vf-box-theme--primary vf-box--easy vf-box--is-link">
              <h3 class="vf-box__heading"><a href="https://www.ebi.ac.uk/pdbe/covid-19" class="vf-box__link">PDBe COVID-19 Portal</a></h3>
              <p class="vf-box__text">Observed ligand binding sites and protein-protein interaction residues.</p>
            </div>
            <div class="vf-box vf-box-theme--primary vf-box--easy vf-box--is-link">
              <h3 class="vf-box__heading"><a href="https://covid-19.uniprot.org" class="vf-box__link">UniProt COVID-19 Portal</a></h3>
              <p class="vf-box__text">The latest available pre-release UniProtKB data for the SARS-CoV-2 coronavirus.</p>
            </div>
            <div class="vf-box vf-box-theme--primary vf-box--easy vf-box--is-link">
              <h3 class="vf-box__heading"><a href="https://covid-19.ensembl.org" class="vf-box__link">Ensembl SARS-CoV-2 genome browser</a></h3>
              <p class="vf-box__text">The complete genome of severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2) isolate.</p>
            </div>
            <div class="vf-box vf-box-theme--primary vf-box--easy vf-box--is-link">
              <h3 class="vf-box__heading"><a href="http://covid19.opentargets.org/" class="vf-box__link">Open Targets COVID-19 target prioritisation tool</a></h3>
              <p class="vf-box__text">Integration of key datasets to identify and prioritise potential human and viral protein drug targets for COVID-19 treatments.</p>
            </div>
            <div class="vf-box vf-box-theme--primary vf-box--easy vf-box--is-link">
              <h3 class="vf-box__heading"><a href="https://europepmc.org/Preprints#preprint-indexing" class="vf-box__link">COVID-19 preprints in Europe PMC</a></h3>
              <p class="vf-box__text">Latest scientific publications and grants available in a single repository.</p>
            </div>
          </section>
      </section>
      
      <!-- Status updates -->
      <section class="embl-grid vf-u-padding__top--800">
        <div>
          <h4 class="vf-text vf-text-heading--3 vf-u-margin__top--" id="status-updates">
            Status updates
          </h4>
          <span class="vf-text">EMBL-EBI closed its premises in March 2020 until further notice, but staff are working remotely to maintain the data resources and tools that EMBL-EBI provides to the life science community.
          </span>
        </div>
        <div class="">
          <section class="vf-grid vf-grid__col-2 | ebi-coronavirus-missions">
            {% render '@vf-card', {
              "card_heading": "Data resources",
              "card_subheading": "",
              "variant": "bordered",
              "newTheme": "primary",
              "card_href": "/services",
              "card_image": "https://acxngcvroo.cloudimg.io/v7/https://www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.1/images/backgrounds/services-green-4.jpg?w=500&h=280&func=crop&gravity=east",
              "card_text": "We are working extremely hard to ensure users continue to have access to our data and tools, but some services may experience reduced service or support during this time. Contact our help desk for support.",
              "card_image__alt": "Resources image"
            } %}
            {% render '@vf-card', {
              "card_heading": "Online training course",
              "card_subheading": "",
              "variant": "bordered",
              "newTheme": "primary",
              "card_href": "/training",
              "card_image": "https://acxngcvroo.cloudimg.io/v7/https://www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.1/images/backgrounds/training-yellow-5.jpg?w=500&h=280&func=crop&gravity=east",
              "card_text": "EMBL-EBI Training has paused its programme of onsite courses and is running a lively programme of virtual courses and webinars. You can also train anytime using our free elearning courses at Train online.",
              "card_image__alt": "Training image"
            } %}
            {% render '@vf-card', {
              "card_heading": "Explore our research",
              "card_subheading": "",
              "variant": "bordered",
              "newTheme": "primary",
              "card_href": "/research",
              "card_image": "https://acxngcvroo.cloudimg.io/v7/https://www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.1/images/backgrounds/research-green-4.jpg?w=500&h=280&func=crop&gravity=east",
              "card_text": "Research at EMBL-EBI is heavily computational. Our expectation is that our research groups will continue to function as normally, while working from home.",
              "card_image__alt": "Research image"
            } %}
            {% render '@vf-card', {
              "card_heading": "Explore industry partnerships",
              "card_subheading": "",
              "variant": "bordered",
              "newTheme": "primary",
              "card_href": "/industry",
              "card_image": "https://acxngcvroo.cloudimg.io/v7/https://www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.1/images/backgrounds/industry-blue-4.jpg?w=500&h=280&func=crop&gravity=east",
              "card_text": "EMBL-EBI is delivering its Industry Programme workshops and Quarterly meetings virtually until further notice.",
              "card_image__alt": "Industry image"
            } %}
          </section>
        </div>
      </section>

      <!-- Recruitment -->
      <section class="embl-grid embl-grid--has-centered-content vf-u-padding__top--800" id="recruitment">
        <div class="vf-section-header"><a class="vf-section-header__heading vf-section-header__heading--is-link" href="/about/jobs/" id="section-sub-heading-link-text"> Recruitment <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path>
            </svg></a>
          <p class="vf-section-header__text">Recruiting continues during COVID-19</p>
        </div>
        <div class="vf-content">
          <p>As we play our part in tackling the current coronavirus (COVID-19) pandemic, EMBL-EBI’s highest priority is to ensure the continued health and wellbeing of our colleagues and candidates.</p>

          <p>We are continuing to recruit new candidates and new employees will be temporarily onboarded remotely until it is safe to return to our offices.</p>

          <a href="/about/jobs/recruitment-covid19/" class="vf-button--primary vf-button vf-button--sm">Find out how it works</a>
        </div>
      </section>

      <!-- EMBL Response -->
      <section class="embl-grid embl-grid--has-centered-contentXXX vf-u-padding__top--800" id="embl-response">
        <div class="vf-section-header"><a class="vf-section-header__heading vf-section-header__heading--is-link" href="https://www.embl.org/topics/coronavirus/" id="section-sub-heading-link-text"> EMBL Response <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path>
            </svg></a>
          <p class="vf-section-header__text">Efforts across EMBL to fight COVID-19</p>
        </div>
        <div class="vf-content">
          <div class="vf-section-content">
            <div class="embl-content-hub-loader | vf-grid vf-grid__col-3" style="display: block; display: unset;">
              <link rel="import" href="https://www.embl.org/api/v1/pattern.html?pattern=vf-news-item-default&filter-content-type=article&filter-fields-exists=field_display_publication&sort-field-value[created]=DESC&filter-all-fields=covid&filter-field-value[field_display_publication]=EMBL%20News&limit=3&source=contenthub" data-target="self" data-embl-js-content-hub-loader>
            </div>

            <a href="https://www.embl.org/news/tag/covid-19/" class="vf-button--primary vf-button vf-button--sm">See more news about COVID-19 across EMBL</a>
          </div>
        </div>
      </section>
      <!-- END VF 2.0 -->

      </main>
      <!--/.l-main -->
    </section>
  </div>
  <!-- End #content -->

  <footer>
    <div id="global-footer" class="global-footer">
      <nav id="global-nav-expanded" class="global-nav-expanded row">
        <!-- Footer will be automatically inserted by footer.js -->
      </nav>
      <section id="ebi-footer-meta" class="ebi-footer-meta row">
        <!-- Footer meta will be automatically inserted by footer.js -->
      </section>
    </div>
  </footer>

  <!-- VF 2.0 CSS, JS -->
  <link rel="stylesheet" href="https://assets.emblstatic.net/vf/v2.4.11/css/styles.css" />
  <script src="https://assets.emblstatic.net/vf/v2.4.11/scripts/scripts.js"></script>

  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script defer="defer" src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/script.js"></script>

  <!-- The Foundation theme JavaScript -->
  <script src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/libraries/foundation-6/js/foundation.js"></script>
  <script src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/foundationExtendEBI.js"></script>
  <script type="text/JavaScript">$(document).foundation();</script>
  <script type="text/JavaScript">$(document).foundationExtendEBI();</script>

  <!-- Google Analytics details... -->
  <script type="text/javascript">!function(e,a,n,t,i,o,c){e.GoogleAnalyticsObject=i,e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date,o=a.createElement(n),c=a.getElementsByTagName(n)[0],o.async=1,o.src="//www.google-analytics.com/analytics.js",c.parentNode.insertBefore(o,c)}(window,document,"script",0,"ga"),ga("create","UA-629242-1",{cookieDomain:"auto"}),ga("require","linkid","linkid.js"),ga("set","anonymizeIp",!0),ga("send","pageview");</script>
</body>
</html>
