---
title: Jobs and careers
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/full.njk
templateEngineOverride: njk
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Jobs and careers | European Bioinformatics Institute</title>
  <meta name="description" content="We value your skills, wherever you may come from and we offer a generous benefits package to support you." />
  <meta name="keywords" content="pay, benefits, jobs, careers, relocation" />
  <meta name="author" content="EMBL-EBI" /><!-- Your [project-name] here -->
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#70BDBD" /> <!-- Android Chrome mobile browser tab color -->

  <!-- Add information on the life cycle of this page -->
  <meta name="ebi:owner" content="External Relations" /> <!-- Who should be contacted about changes -->
  <meta name="ebi:review-cycle" content="90" /> <!-- In days, how often should the content be reviewed -->
  <meta name="ebi:last-review" content="2021-05-11" /> <!-- The last time the content was reviewed -->

  <!-- If you link to any other sites frequently, consider optimising performance with a DNS prefetch -->
  <link rel="dns-prefetch" href="//www.ebi.ac.uk" />

  {% include "header.njk" %}
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/css/ebi-global.css" type="text/css" media="all" />

  <meta name="ebi:masthead-color" content="#000000" />
  <meta name="ebi:masthead-image" content="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.1/images/backgrounds/embl-ebi-background-4.jpg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@emblebi" />
  <meta name="twitter:site:id" content="123582098" />
  <meta name="twitter:creator" content="@emblebi" />
  <meta name="twitter:creator:id" content="123582098" />
  <meta name="twitter:title" content="Careers at EMBL-EBI" />
  <meta name="twitter:url" content="https://www.ebi.ac.uk/careers/" />
  <meta name="twitter:description" content="At EMBL-EBI you can use your energy and skills to make a valuable contribution to science and technology and be part of a new generation: digital science." />
  <meta property="og:image" content="https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/editorhub/wp-content/uploads/2021/05/DJI_0063-1024x683.jpeg?force_format=jpg" />
</head>

<body class="ebi-vf1-integration"><!-- add any of your classes or IDs -->
{% include "skip-to.njk" %}

  <header id="masthead-black-bar" class="clearfix masthead-black-bar"></header>
  <div data-sticky-container>
    <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="content:top" data-btm-anchor="content:bottom">
      <div class="masthead-inner row">
        <!-- local-title -->
        <div class="columns medium-12" id="local-title">
          <h1><a href="/about" title="Back to About us">About us</a></h1>
        </div>
        <!-- /local-title -->
        <!-- local-nav -->
        <nav>
          <ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
            <li class="first"><a href="/about" class="">Overview</a></li>
            <li class="active "><a href="/careers" class="active" title="Opportunities at EMBL-EBI">Jobs</a></li>
            <li><a href="/about/people" title="Staff directory">People &amp; groups</a></li>
            <li><a href="/about/news" title="">News</a></li>
            <li><a href="/about/public-engagement">Public engagement</a></li>
            <li><a href="/about/events">Events</a></li>
            <li><a href="/about/contact" title="Contact External Relations">Contact us</a></li>
          </ul>
        </nav>
        <!-- /local-nav -->
      </div>
    </header>
  </div>
  <div id="content">
    <!-- Suggested layout containers -->
    <section id="main-content-area" class="" role="main">
      <main id="main-content-area" role="main" class="row l-main">
        <div class="secondary-menu vf-u-padding__top--200">
          <div class=" ">
            <ul class="menu ">
              <li class="active"><a href="/careers" class="active">Careers</a></li>
              <li><a href="/careers/jobs" class="">Job vacancies</a></li>
              <li><a href="/about/jobs/internships" title="">Internships</a></li>
              <li><a href="/about/jobs/career-profiles">Life at EMBL-EBI</a></li>
              <li><a href="/about/jobs/recruitment-covid19" class="">Recruitment during COVID-19</a></li>
              <li><a href="/about/jobs/benefits" class="">Employee benefits</a></li>
              <li><a href="/about/jobs/international-applicants">International applicants</a></li>
            </ul>
          </div>
        </div>

        <style>
        .vf-card-container.vf-u-fullbleed .vf-section-header__heading { color: #fff }
        body h2 { color: #222; }
        </style>
  
        <!-- Import article from contentHub  -->
        <!-- https://www.embl.org/editorhub/wp-admin/post.php?post=4674&action=edit -->
        <link rel="import" href="https://www.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=122468&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>

      </main>

    </section>
    <!-- End optional local footer -->
  </div>
  <!-- End suggested layout containers / #content -->

  {% include "footer.njk" %}
  {% include "footer-js.njk" %}
</body>
</html>
