---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/full.njk
templateEngineOverride: njk
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Action Plan Summary < Covid-19 < European Bioinformatics Institute</title>
  <meta name="description" content="EMBL-EBI" /><!-- Describe what this page is about -->
  <meta name="keywords" content="bioinformatics, europe, institute" /><!-- A few keywords that relate to the content of THIS PAGE (not the whol project) -->
  <meta name="author" content="EMBL-EBI" /><!-- Your [project-name] here -->
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#70BDBD" /> <!-- Android Chrome mobile browser tab color -->

  <!-- Add information on the life cycle of this page -->
  <meta name="ebi:owner" content="External Relations" /> <!-- Who should be contacted about changes -->
  <meta name="ebi:review-cycle" content="90" /> <!-- In days, how often should the content be reviewed -->
  <meta name="ebi:last-review" content="2018-04-09" /> <!-- The last time the content was reviewed -->

  <!-- If you link to any other sites frequently, consider optimising performance with a DNS prefetch -->
  <link rel="dns-prefetch" href="//www.ebi.ac.uk" />

  {% include "header.njk" %}
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/css/ebi-global.css" type="text/css" media="all" />

  <meta name="ebi:masthead-color" content="#000000" />
  <meta name="ebi:masthead-image" content="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.1/images/backgrounds/embl-ebi-background-4.jpg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@emblebi" />
  <meta name="twitter:site:id" content="123582098" />
  <meta name="twitter:creator" content="@emblebi" />
  <meta name="twitter:creator:id" content="123582098" />
  <meta name="twitter:title" content="Contact us" />
  <meta name="twitter:url" content="http://www.ebi.ac.uk/about/contact" />
  <meta name="twitter:description" content="Contact details for EMBL-EBI" />


  <!-- you can replace this with theme-[projectname].css. See http://www.ebi.ac.uk/web/style/colour for details of how to do this -->
  <!-- also inform ES so we can host your colour palette file -->
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/css/theme-embl-petrol.css" type="text/css" media="all" />
  <!-- end CSS-->
</head>

<body class=""><!-- add any of your classes or IDs -->
{% include "skip-to.njk" %}

  <header id="masthead-black-bar" class="clearfix masthead-black-bar"></header>
  <div id="content">
    <div data-sticky-container>
      <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="content:top" data-btm-anchor="content:bottom">
        <div class="masthead-inner row">
          <!-- local-title -->
          <div class="columns medium-12" id="local-title">
            <h1><a href="/covid-19" title="Back to Covid-19 Data Portal">COVID-19 Data Portal</a></h1>
          </div>
          <!-- /local-title -->
          <!-- local-nav -->
          <nav>
            <ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
              <li><a href="/covid-19" class="first">Home</a></li>
              <li><a href="/covid-19/action-plan" class="active last">Action Plan Summary</a></li>
            </ul>
          </nav>
          <!-- /local-nav -->
        </div>
      </header>
    </div>
    <!-- Suggested layout containers -->
    <section id="main-content-area" class="" role="main">
      

      <section>
        <div class="row">
          <div class="medium-12 columns"><br></div>
        </div>          

        <div class="row">
          <div class="large-8 columns">

  <h2 id="summary">
    Summary of EMBL-EBI COVID-19 Action Plan
  </h2>
  <p class="lead">
    The world is facing the worst public health crisis with all its consequences for society since many decades. To combat COVID-19 we need to intensify research efforts enabling the scientific community to understand the biology, epidemiology, transmission and evolution of the virus responsible for the outbreak, SARS-CoV-2.
  </p>
  <p>
    EMBL’s European Bioinformatics Institute (EMBL-EBI) has recognised the urgency to respond to needs by creating a European COVID-19 Data Platform for data/information exchange, connected to the European Open Science Cloud (EOSC).
  </p>
  <p>
    The goal is to collect and share rapidly available research data from different sources and of different types to enable synergies, cross-fertilisation and use of diverse data sets with different degrees of aggregation, validation and/or completeness so they can be accessed by the research community.
  </p>
  <p>
    We envisage the European COVID-19 Data Platform to consist of two connected components, the SARS-CoV-2 Data Hubs organising the flow of SARS-CoV-2 outbreak sequence data and providing comprehensive open data sharing for the European and global research communities, and one broader COVID-19 Portal.
  </p>
  <p>
    For rapid launch, we will assemble, extend and enhance existing elements of informatics infrastructure leveraging initially the key strengths of EMBL-EBI. These strengths are based upon molecular biology data infrastructure and services that EMBL-EBI provides, and its unique position in offering connectivity with national public health data infrastructures, to the EOSC and relevant European Research Infrastructures and research projects, as well as International and National Research organisations.
  </p>

  <p>
    <img style="width:100%" src="/covid-19/Picture2.png">
  </p>

  <p>
    The SARS-CoV-2 Data Hubs will form one of the two components of the European COVID-19 Data Platform. These will be built upon existing EMBL-EBI infrastructure, and we will offer SARS-CoV-2 Data Hubs to those public health agencies and other scientific groups responsible for generating sequence from the virus at national or regional levels. It is expected that there will ultimately be numerous SARS-CoV-2 Data Hubs with similar configurations in terms of analysis, but different preferred submission tools.

  </p>
  <p>
    Sequence data in the SARS-CoV-2 Data Hubs will be highly contextualised. Essential metadata, such as sampling tracking identifiers, sampling time, geographical location, method of sampling, health status of host and sequencing platform/strategy, will be captured alongside sequence data. The SARS-CoV-2 Data Hubs will also provide systematic data processing and analysis, visualisation and phylogenetic analysis tools.
  </p>
  <p>
    We are currently in discussions with EMBL Member States on the SARS-CoV-2 Data Hubs and are expecting to launch the first of these new Data Hubs in the coming days.
  </p>
  <p>
    As the second component of the European COVID-19 Data Platform, EMBL-EBI plans to launch a COVID-19 Portal to provide the primary entry point into the functions of the European COVID-19 Data Platform and the data and tools that it makes available. To rapidly populate the COVID-19 Portal and make it immediately useful we will bring together and continuously update in a first step all relevant COVID-19 datasets from EMBL-EBI data resources.
  </p>

  <p>
    <img style="width:100%" src="/covid-19/Picture3.png">
  </p>

  <p>
    This will be followed by enriching the COVID-19 Portal with datasets and tools from EU projects, in which EMBL-EBI is a partner, and then through our ELIXIR network and last but not least, additional European stakeholders and on leveraging our international connections with major bioinformatics data and service providers across the globe.
  </p>


          </div> 

        </div>
      </section>

    </section>
    <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
    <!--
    <footer id="local-footer" class="local-footer" role="local-footer">
      <div class="row">
        <span class="reference">How to reference this page: ...</span>
      </div>
    </footer>
    -->
    <!-- End optional local footer -->
  </div>
  <!-- End suggested layout containers / #content -->

  {% include "footer.njk" %}
  {% include "footer-js.njk" %}
</body>
</html>
