---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/full.njk
templateEngineOverride: njk
---
{% raw %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Technology < European Bioinformatics Institute</title>
  <meta name="description" content="EMBL-EBI" /><!-- Describe what this page is about -->
  <meta name="keywords" content="bioinformatics, europe, institute, technology" /><!-- A few keywords that relate to the content of THIS PAGE (not the whol project) -->
  <meta name="author" content="EMBL-EBI" /><!-- Your [project-name] here -->
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#70BDBD" /> <!-- Android Chrome mobile browser tab color -->

  <!-- Add information on the life cycle of this page -->
  <meta name="ebi:owner" content="Web Content Committee" /> <!-- Who should be contacted about changes -->
  <meta name="ebi:review-cycle" content="90" /> <!-- In days, how often should the content be reviewed -->
  <meta name="ebi:last-review" content="2017-07-25" /> <!-- The last time the content was reviewed -->
  <!-- <meta name="ebi:expiry" content="2016-01-20" /> -->

  <!-- If you link to any other sites frequently, consider optimising performance with a DNS prefetch -->
  <link rel="dns-prefetch" href="//www.ebi.ac.uk" />

  <!-- If you have custom icon, replace these as appropriate.
       You can generate them at realfavicongenerator.net -->
  <link rel="icon" type="image/x-icon" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/favicon.ico" />
  <link rel="icon" type="image/png" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="192×192" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/android-chrome-192x192.png" /> <!-- Android (192px) -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-icon-114x114.png" /> <!-- For iPhone 4 Retina display (114px) -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-icon-72x72.png" /> <!-- For iPad (72px) -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-icon-144x144.png" /> <!-- For iPad retinat (144px) -->
  <link rel="apple-touch-icon-precomposed" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-icon-57x57.png" /> <!-- For iPhone (57px) -->
  <link rel="mask-icon" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/safari-pinned-tab.svg" color="#ffffff" /> <!-- Safari icon for pinned tab -->
  <meta name="msapplication-TileColor" content="#2b5797" /> <!-- MS Icons -->
  <meta name="msapplication-TileImage" content="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/mstile-144x144.png" />

  <!-- CSS -->
  <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/libraries/foundation-6/css/foundation.css" type="text/css" media="all" />
  <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/css/ebi-global.css" type="text/css" media="all" />
  <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/EBI-Icon-fonts/v1.2/fonts.css" type="text/css" media="all" />

  <meta name="ebi:masthead-color" content="#000000" />
  <meta name="ebi:masthead-image" content="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.1/images/backgrounds/embl-ebi-background-4.jpg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@emblebi" />
  <meta name="twitter:site:id" content="123582098" />
  <meta name="twitter:creator" content="@emblebi" />
  <meta name="twitter:creator:id" content="123582098" />
  <meta name="twitter:title" content="Technology" />
  <meta name="twitter:url" content="http://www.ebi.ac.uk/about/technology" />
  <meta name="twitter:description" content="Technology at EMBL-EBI" />


  <!-- you can replace this with theme-[projectname].css. See http://www.ebi.ac.uk/web/style/colour for details of how to do this -->
  <!-- also inform ES so we can host your colour palette file -->
  <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/css/theme-embl-petrol.css" type="text/css" media="all" />
  <!-- end CSS-->
</head>

<body class=""><!-- add any of your classes or IDs -->
  <div id="skip-to">
    <ul>
      <li><a href="#content">Skip to main content</a></li>
      <li><a href="#local-nav">Skip to local navigation</a></li>
      <li><a href="#global-nav">Skip to EBI global navigation menu</a></li>
      <li><a href="#global-nav-expanded">Skip to expanded EBI global navigation menu (includes all sub-sections)</a></li>
    </ul>
  </div>

  <header id="masthead-black-bar" class="clearfix masthead-black-bar">
    <nav class="row">
      <ul id="global-nav" class="menu">
        <!-- set active class as appropriate -->
        <li class="home-mobile"><a href="//www.ebi.ac.uk"></a></li>
        <li class="home"><a href="//www.ebi.ac.uk">EMBL-EBI</a></li>
        <li class="services"><a href="//www.ebi.ac.uk/services">Services</a></li>
        <li class="research"><a href="//www.ebi.ac.uk/research">Research</a></li>
        <li class="training"><a href="//www.ebi.ac.uk/training">Training</a></li>
        <li class="about active"><a href="//www.ebi.ac.uk/about">About us</a></li>
        <li class="search">
          <a href="#" data-toggle="search-global-dropdown"><span class="show-for-small-only">Search</span></a>
          <div id="search-global-dropdown" class="dropdown-pane" data-dropdown data-options="closeOnClick:true;">
          <!-- The dropdown menu will be programatically added by script.js -->
          </div>
        </li>
        <li class="float-right show-for-medium embl-selector">
          <button class="button float-right" type="button" data-toggle="embl-dropdown">Hinxton</button>
          <!-- The dropdown menu will be programatically added by script.js -->
        </li>
      </ul>
    </nav>
  </header>
  <div id="">
    <div data-sticky-container>
      <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="content:top" data-btm-anchor="content:bottom">
        <div class="masthead-inner row">
          <!-- local-title -->
          <div class="columns medium-12" id="local-title">
            <h1><a href="/about" title="Back to About us">About us</a></h1>
          </div>
          <!-- /local-title -->
          <!-- local-nav -->
          <nav>
            <ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
              <li class=" first"><a href="/about">Overview</a></li>
              <li class=""><a href="/about/jobs" title="Opportunities at EMBL-EBI">Jobs</a></li>
              <li class=""><a href="/about/people" title="Staff directory">People &amp; groups</a></li>
              <li class=""><a href="/about/news" title="">News</a></li>
              <li class=""><a href="/about/events">Events</a></li>
              <li class=""><a href="/about/contact" title="Contact us" class="">Contact us</a></li>
            </ul>
          </nav>
          <!-- /local-nav -->
        </div>
      </header>
    </div>
    <!-- Suggested layout containers -->
    <div class="visulisation" style="width: 100%; height: 40rem; margin-bottom: -40rem;"></div>
    <section id="main-content-area" class="" role="main">
      <!-- <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="../../">EBI Framework</a></li>
          <li><a href="../">Sample pages</a></li>
          <li>
            <span class="show-for-sr">Current: </span> Blank boilerplate
          </li>
        </ul>
      </nav> -->

      <section id="content">
        <div class="row">
          <!-- <div class=" analytics-content-intro">
            <div class="panel-pane pane-block pane-menu-block-4   secondary-menu pane-menu-block   secondary-menu">
              <ul class="menu menu-tree-menu">
                <li class="first leaf"><a href="#contact" title="Leadership and guidance structure">Contact someone</a></li>
                <li class="leaf"><a href="#getto" title="Funding of EMBL-EBI">Get to EMBL-EBI</a></li>
                <li class="leaf"><a href="#sleep" title="History of EMBL-EBI">Where to sleep</a></li>
              </ul>
            </div>
          </div> -->
          <div class="medium-12 columns analytics-content-intro">
            <div class="">
              <div class="pane-content">
                <div class="intro-unit">
                  <!-- <a name="contact"></a> -->
                  <h2>Technology at EMBL-EBI</h2>
                  <p class="lead">EMBL-EBI is a world leader in storing and sharing large-scale data in the life sciences. Our technical infrastructure supports molecular data resources that are critically important for biomedical and life-science R&D, both in the public sector and in companies of all sizes.</p>
                  <p>With over 27 million web requests per day from a rapidly growing, worldwide community of researchers, we rely on our forward-thinking, flexible technical teams keep EMBL-EBI data services up and running, 24/7. They ensure our storage capacity is ready for spikes in demand, and that our compute is powerful enough to support big-data analyses. By building and maintaining multi-cloud environments, they support global collaborations  tracking infectious disease pathogens, unpicking the causes of cancer and exploring the multitude of lifeforms in the sea.</p>

                </div>

                <span class="label padding-left-large">On this page</span>
                <div data-sticky-container>
                  <div class="white-background columns medium-12 padding-left-none" data-sticky data-margin-top="2.25"  data-sticky-on="large" data-top-anchor="technology-overview:top" data-btm-anchor="technology-overview:bottom" id="page-menu">
                    <ul class="menu no-underline " data-magellan data-active-class="active">
                      <li class=""><a href="#access">Access</a></li>
                      <li class=""><a href="#delivery">Delivery</a></li>
                      <li class=""><a href="#analysis">Analysis</a></li>
                      <li class=""><a href="#coordination">Coordination</a></li>
                      <li class=""><a href="#interfaces">Interfaces</a></li>
                      <li class=""><a href="#partnership">Partnership</a></li>
                    </ul>
                  </div>
                </div>

                <br/><br/><br/>

                <div id="technology-overview" class="row">

                  <div class="columns medium-3">
                    <div class="callout">
                      <h3>About us</h3>
                      <p>Based on the <a href="https://www.wellcomegenomecampus.org/" target="_blank">Wellcome Genome Campus in the Cambridge bio-cluster</a>, we are at the centre of one of the highest concentrations of scientific and technical expertise in the world.</p>
                      <p>We are part of the <a href="http://embl.org/" target="_blank">European Molecular Biology Laboratory</a>, a science and technology powerhouse with six locations in Europe.</p>
                      <p>Like all of EMBL, our technology teams promote learning and exploration. They are highly collaborative, with staff members often working on development and engineering projects shared between several teams throughout the organisation.</p>
                    </div>

                    <div class="callout industry-background white-color">
                      <h3>What's happening</h3>
                      <span class="label white-color">News from the blog</span>
                      <div class="news-from-the-blog"></div>
                      <p><a href="https://www.ebi.ac.uk/about/technology/" class="readmore">More at the blog</a></p>
                    </div>

                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.8/handlebars.min.js"></script>
                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
                    <script tryp="text/javascript">
                    document.addEventListener('DOMContentLoaded', function(){
                      var DateFormats = {
                             short: " DD MMMM",
                             long: "dddd DD.MM.YYYY HH:mm"
                      };
                      Handlebars.registerHelper("formatDate", function(datetime, format) {
                        if (moment) {
                          // can use other formats like 'lll' too
                          format = DateFormats[format] || format;
                          return moment(datetime).format(format);
                        }
                        else {
                          return datetime;
                        }
                      });

                      var feedTemplate = '{{#each item}}'+
                          '<div class="padding-top-medium">'+
                            '<span class="label white-color">{{formatDate pubDate "short"}}</span>'+
                            '<h6><a href="{{link}}" class="">{{title}}</a></h6>'+
                          '</div>'+
                        '{{/each}}';

                      // feed processor
                      function feedImporter(feedUrl,template,destination){
                        this.feedUrl = feedUrl;
                        this.template = template;
                        this.destination = destination;
                      }
                      feedImporter.prototype.init = function(){
                        function queryData(properties) {
                          $.ajax({
                            // here we use YQL to translate the RSS into JSON, but you could easily pass in your JSON here
                            url: 'https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20rss%20where%20url%3D%22'+ encodeURIComponent(properties.feedUrl)+'%22limit%206&&format=json&diagnostics=false&_maxage=3600',
                            template:    properties.template,
                            destination: properties.destination
                          }).done( function(data) {
                            // here you need to map your JSON structure
                            var mappedData = data.query.results,
                                template = Handlebars.compile(properties.template);
                            $(properties.destination).html(template(mappedData));
                          });
                        }
                        queryData(this); // bootstrap
                      }
                      newsUpdates = new feedImporter("http://www.ebi.ac.uk/about/technology/feed/",feedTemplate, ".news-from-the-blog").init();
                  }, false);
                  </script>



                    <div class="callout">
                      <h3 class="">Work with us</h3>
                      <p>We're hiring <a href="http://www.ebi.ac.uk/about/jobs" class="readmore">See jobs</a></p>
                      <p>Want to know what it's like to work at EMBL-EBI?
                        <a href="http://www.ebi.ac.uk/about/jobs/career-profiles" class="readmore">Career profiles</a></p>
                    </div>
                  </div>

                  <div class="columns medium-9">
                    <div class="">
                      <h2>Core themes</h2>
                    </div>
                    <div class="row">
                      <div class="columns medium-6">
                        <h3 id="access" data-magellan-target="access">Access</h3>
                        <strong>Our technical infrastructure</strong>

                        <!-- <h5>Choosing the best tool for the job</h5> -->
                        <!-- <p>Insert statement about our technology ethos - Not constrained to using a shortlist of technologies, encouraged to learn and adopt new technologies if they get the job done better, empowering developers, etc.</p>

                        <h5>Data growth and usage</h5> -->
                        <p>The open molecular data resources provided by EMBL-EBI have become the backbone of computational biology projects, and are used 24/7 by researchers throughout the world.</p>
                        <p>As the cost of generating data continued to fall in 2016, our core data resources continued their steady growth. Two areas of very rapid growth were metagenomics and metabolomics data; our Metagenomics data service grew by 11-fold in 2016. Growth in all data types - both established and emerging - is still exponential.</p>
                        <p>Our technical service teams ensure that users' jobs can be run, 24/7, and that our data centres are able to absorb spikes in usage, in terms of uploading, downloading and running analyses.</p>

                      </div>
                      <div class="columns medium-6 small">
                        <h3>&nbsp;</h3>
                        <h5>Data Usage Facts & Figures</h5>
                        <ul>
                          <li>Average requests per day to EMBL-EBI websites: 26 million</li>
                          <li>Total volume of data downloaded: 3.5 petabytes</li>
                          <li>Unique IP addresses accessing EMBL-EBI websites every month: 3.2 million</li>
                          <li>Automated usage: 82% (56% via RESTful APIs, 26% via SOAP web services)</li>
                          <li>Usage via web interfaces: 18%</li>
                        </ul>

                        <h5>Data Growth Facts & Figures</h5>
                        <ul>
                          <li>Nucleotide sequence data: 5.91 petabytes stored (compare to 4.52 PB in 2015)</li>
                          <li>Genomes – all species and strains: 42 529 (compare to 30 674 in 2015)</li>
                          <li>Metagenomic samples: Over 90,000 datasets</li>
                          <li>Gene expression assays: 2.2 million (compare to 1.90 million in 2015)</li>
                          <li>Protein sequences: 71 million (compare to 55.2 million in 2015)</li>
                          <li>Protein families, motifs and domains (in InterPro): 29 700 (compare to 28 678 in 2015</li>
                          <li>Macromolecular structures: 125 463 (compare to 114 691 in 2015)</li>
                        </ul>
                      </div>
                    </div>
                    <hr/>
                    <div class="row">
                      <div class="columns medium-6">
                        <h3 id="delivery" data-magellan-target="delivery">Delivery</h3>
                        <strong>Processing and storage</strong>
                        <p>Demands for the open data resources at EMBL-EBI are growing at an exponential rate. In 2016 alone, our technical service teams installed 72 petabytes of raw storage, and our end-users are supported by thousands of high-performance and high-throughput cores. We are able to scale up our infrastructure to meet demand thanks to funding from our member states, including capital funding from the UK Government.</p>
                        <p>To ensure our scientific service teams can deliver open data resources for diverse areas of science, our technical teams employ a broad range of high-performing technologies. We are implementing a database virtualisation programme to meet ever-growing demand, and use a geo-dispersed Object Store to fulfill the greater part of our storage needs. This offers efficiencies in data resilience, reducing our data-centre footprint and overall costs and improving our environmental standing. We also employ a range of other storage solutions, which gives us maximum flexibility and required value for money in data archiving.</p>
                      </div>
                      <div class="columns medium-3 small">
                        <h3>&nbsp;</h3>
                        <h5>Storage Facts & figures</h5>
                        <ul>
                          <li>Compute farm: 34,000 cores</li>
                          <ul>
                            <li>27 000 high-throughput cores</li>
                            <li>7000 high-performance cores, specially tuned for large-scale data access</li>
                          </ul>
                          <li>High-performing technologies</li>
                          <li>The technologies we emply in to manage our data storage and compute are diverse. In 2017 our primary technologies included:</li>
                          <ul>
                            <li>Oracle</li>
                            <li>MySQL</li>
                            <li>MangoDb</li>
                            <li>Hadoop</li>
                            <li>Vertica</li>
                            <li>Database virtualisation</li>
                            <li>Collaboration with enterprise software company Delphix started in 2015.</li>
                          </ul>
                        </ul>
                      </div>
                      <div class="columns medium-3 small">
                        <h3>&nbsp;</h3>
                        <h5>&nbsp;</h5>
                        <ul>
                          <li>Storage solutions</li>
                          <ul>
                            <li>Geo-dispersed Object Store</li>
                            <li>General-purpose scale-out: Netapp and Isilion grow to multi petabyte scale</li>
                            <li>High-performance systems: Lustre, Spectrum Scale, EMBL-EBI object tape archive</li>
                          </ul>
                          <li>Network</li>
                          <ul>
                            <li>Internal network: JANET sends 20 gigabits a second (gb/s) between Genome Campus data centre and Hemel Hempstead. Upgrade to 40 gb/s planned</li>
                          </ul>
                        </ul>
                      </div>
                    </div>
                    <hr/>
                    <div class="row">
                      <div class="columns medium-12">
                        <h3 id="analysis" data-magellan-target="analysis">Analysis</h3>
                        <strong>Chain of tools</strong>
                        <p>EMBL-EBI offers programmatic and web access to about 150 computational tools. To help our users extract greater benefit from a wider range of EMBL-EBI services, we are making it easier for users to bring their own data and store their results for future reference.</p>
                        <p>We are also making it easier for users to ‘chain’ tools so that we can provide workflows, rather than single tools.</p>
                      </div>
                      <!-- <div class="columns medium-4 small">
                        <h3>&nbsp;</h3>
                        <h5>Tools Facts and Figures</h5>
                        To come
                      </div> -->
                    </div>
                    <hr/>
                    <div class="row">
                      <div class="columns medium-8">
                        <h3 id="coordination" data-magellan-target="coordination">Coordination</h3>
                        <strong>Data coordination as a service</strong>
                        <p>EMBl-EBI infrastructure is applied increasingly in the area of data coordination. We ensure the smooth handling of complex data flows in research projects of all sizes. This makes it easier to share, analyse and publish experimental data during and beyond the lifetime of a project.</p>

                        <p>We build collaborative tools such as data hubs on top of our archival infrastructure. Our data portal platform provides access to structured, pre-publication, shared data. </p>
                        <p>Combined with elements of our established services, such as the Webin data submission system, we provide our collaborators with advice on setting up appropriate elements of infrastructure, leadership of in-project data standards development, data coordination and curation, and user support.</p>
                      </div>
                      <div class="columns medium-4 small">
                        <h3>&nbsp;</h3>
                        <h5>Features include:</h5>
                        <ul>
                          <li>Quick set-up of web entry points for data coordination projects</li>
                          <li>Discovery tools for searching shared data across the ‘pre-publication’ and ‘published’ divide</li>
                          <li>The Analysis Archive: an agile, extensible data-management system that allows rapid configuration of new structured data types relating to sequencing</li>
                        </ul>
                      </div>
                    </div>
                    <hr/>
                    <div class="row">
                      <div class="columns medium-8">
                        <h3 id="interfaces" data-magellan-target="interfaces">Interfaces</h3>
                        <strong>User Experience research and development</strong>
                        <p>The EMBL-EBI Web Development team provides assistance and guidance on helping teams build websites and user interfaces. We assist not only in helping choose the what (technology and look) but also why (what do users need and what works best).</p>
                        <p>The Web Development team has developers, UX professionals, and information architecture specialists available to assist in the sturcutre and execution of porjects.</p>
                        <!-- <p>Things the Web Dev team offers external users</p>
                        <p>Things the Web Dev team offers internal users</p> -->
                      </div>
                      <div class="columns medium-4 small">
                        <h3>&nbsp;</h3>
                        <h5>Technologies and methedologies currently used</h5>
                        <ul>
                          <li>UX research, design</li>
                          <li>Gulp, npm, Docker, Sass, continuous integration</li>
                          <li>Angular, Drupal 7 (and 8), Panini, Jekyll</li>
                          <li>Metrics (Google Anlaytics, content goals, A/B testing)</li>
                          <li>Github, Gitlab</li>
                          <li>Information architecture, content modelling</li>
                          <li>Kanban</li>
                        </ul>
                      </div>
                    </div>
                    <hr/>
                    <h3 id="partnership" data-magellan-target="partnership">Partnership</h3>
                    <div class="row">
                      <div class="columns medium-4">
                        <h5>ELIXIR</h5>
                        <p>We provide a cloud portal to support EMBL-EBI and ELIXIR projects. This portal helps participating researchers select a cloud service provider (including our own internal OpenStack provision), retrieve the relevant software applications and deploy virtual machines or containers.</p>
                        <p>We use GitHub as an application definition and sharing platform, which makes it easier for our cloud engineering teams to collaborate and streamlines versioning.</p>
                      </div>
                      <div class="columns medium-4">
                        <h5>Embassy Cloud</h5>
                        <p>Infrastructure-as-a-service, Embassy Cloud based on the OpenStack cloud platform. It features private, secure “tenancies” hosted within EMBL-EBI’s data centres, providing users with direct access to data sets and services and negating the need to download large data resources before undertaking analyses. Embassy Cloud is currently used by external groups collaborating with EMBL-EBI teams.</p>
                        <div class="callout">
                          <p>Embassy Cloud Facts &amp; Figures</p>
                          <ul>
                            <li>Cores: 6000</li>
                            <li>RAM: 40 terabytes</li>
                            <li>SSD fast-scratch space: 50 terabytes</li>
                            <li>NFS: 2 petabytes</li>
                            <li>Storage (Object Store): 2 petabytes</li>
                            <li>Helix Nebula Science Cloud</li>
                          </ul>
                        </div>
                      </div>
                      <div class="columns medium-4">
                        <h5>Large infrastructure</h5>
                        <p>We are partners in several large infrastructure projects, for example the Helix Nebula Science Cloud (HNSciCloud), which aims to establish a European hybrid cloud platform to support the deployment of high-performance computing and big-data capabilities for scientific research.</p>
                        <p>Helix partners include CERN, the European Space Agency, the European Grid Infrastructure and other institutes from across Europe. </p>
                        <p>Launched in 2016, the technical specifications for this pre-commercial procurement tender were defined according to use cases: Pan-Cancer Analysis of Whole Genomes, EuroBioImaging and ELIXIR. The designs will be prototyped in 2017 before large-scale pilots in 2018.</p>
                      </div>
                    </div>

                  </div>

                </div> <!-- /div.row -->




              </div>
            </div>
            <div class="row">





            <!-- <h3>Data protection</h3>
            <p>In progress, as the legislative landscape changes EMBL is adapting to have clearer processes about the governance of private data.</p> -->

            <!-- <h3>Web service hosting infrastructure</h3>
            <p>EMBL-EBI is moving towards a new model of hosting web services. Using Continuous Delivery (CD) and container technologies to give development and infrastructure teams across the organisation greater flexibility. The use of containers allows the Technical Services Cluster at EMBL-EBI to select the best value data centres and hosting options, and migrate to those with minimal impact on the teams operating the scientific services. CD allows development and infrastructure teams to update, test and deploy changes rapidly, for example ensuring the services have the latest security updates. For development teams this change gives greater flexibility and capability to self service for more tasks.</p> -->

            </div>
          </div>
        </div>
        </div>
      </section>

    </section>
    <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
    <!--
    <footer id="local-footer" class="local-footer" role="local-footer">
      <div class="row">
        <span class="reference">How to reference this page: ...</span>
      </div>
    </footer>
    -->
    <!-- End optional local footer -->
  </div>
  <!-- End suggested layout containers / #content -->

  <footer>
    <div id="global-footer" class="global-footer">
      <nav id="global-nav-expanded" class="global-nav-expanded row">
        <!-- Footer will be automatically inserted by footer.js -->
      </nav>
      <section id="ebi-footer-meta" class="ebi-footer-meta row">
        <!-- Footer meta will be automatically inserted by footer.js -->
      </section>
    </div>
  </footer>

  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/js/script.js"></script>

  <!-- The Foundation theme JavaScript -->
  <script src="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/libraries/foundation-6/js/foundation.js"></script>
  <script src="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/js/foundationExtendEBI.js"></script>
  <script type="text/JavaScript">$(document).foundation();</script>
  <script type="text/JavaScript">$(document).foundationExtendEBI();</script>


  <!-- Reaction-diffusion visulisation -->
  <script type="text/javascript" src="https://khawkins98.github.io/reaction-diffusion/3rd/three.min.js"></script>
  <script type="text/javascript" src="https://khawkins98.github.io/reaction-diffusion/grayscott.js"></script>
  <script>
    var settings = {
      target: '.visulisation',
      color1: [255,255,255,.19],
      color2: [255,255,255,.2],
      color3: [0,124,131,.9],
      opacity: 0.9,
      drawingType: 8,
      accuracy: 280,
      scale: 1.4,
      renderBoost: 2600,
      timelimit: 20000
    }
    DiffusionVis.init(settings);
  </script>
  <style>
  canvas { position: fixed; }
  /*.masthead { background: none !important; }*/
  </style>


  <!-- Google Analytics details... -->
  <script type="text/javascript">!function(e,a,n,t,i,o,c){e.GoogleAnalyticsObject=i,e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date,o=a.createElement(n),c=a.getElementsByTagName(n)[0],o.async=1,o.src="//www.google-analytics.com/analytics.js",c.parentNode.insertBefore(o,c)}(window,document,"script",0,"ga"),ga("create","UA-629242-1",{cookieDomain:"auto"}),ga("require","linkid","linkid.js"),ga("set","anonymizeIp",!0),ga("send","pageview");</script>
</body>
</html>
{% endraw %}