---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/full.njk
templateEngineOverride: njk
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Employee benefits | Jobs | European Bioinformatics Institute</title>
  <meta name="description" content="We value your skills, wherever you may come from and we offer a generous benefits package to support you." />
  <meta name="keywords" content="pay, benefits, jobs, careers, relocation" />
  <meta name="author" content="EMBL-EBI" /><!-- Your [project-name] here -->
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#70BDBD" /> <!-- Android Chrome mobile browser tab color -->

  <!-- Add information on the life cycle of this page -->
  <meta name="ebi:owner" content="External Relations" /> <!-- Who should be contacted about changes -->
  <meta name="ebi:review-cycle" content="90" /> <!-- In days, how often should the content be reviewed -->
  <meta name="ebi:last-review" content="2020-12-21" /> <!-- The last time the content was reviewed -->

  <!-- If you link to any other sites frequently, consider optimising performance with a DNS prefetch -->
  <link rel="dns-prefetch" href="//www.ebi.ac.uk" />

  <!-- If you have custom icon, replace these as appropriate.
       You can generate them at realfavicongenerator.net -->
  <link rel="icon" type="image/x-icon" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/favicon.ico" />
  <link rel="icon" type="image/png" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="192×192" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/android-chrome-192x192.png" /> <!-- Android (192px) -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/apple-icon-114x114.png" /> <!-- For iPhone 4 Retina display (114px) -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/apple-icon-72x72.png" /> <!-- For iPad (72px) -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/apple-icon-144x144.png" /> <!-- For iPad retinat (144px) -->
  <link rel="apple-touch-icon-precomposed" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/apple-icon-57x57.png" /> <!-- For iPhone (57px) -->
  <link rel="mask-icon" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/safari-pinned-tab.svg" color="#ffffff" /> <!-- Safari icon for pinned tab -->
  <meta name="msapplication-TileColor" content="#2b5797" /> <!-- MS Icons -->
  <meta name="msapplication-TileImage" content="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/mstile-144x144.png" />

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/css/ebi-global.css" type="text/css" media="all" />
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.3/fonts.css" type="text/css" media="all" />

  <!-- Use this CSS file for any custom styling -->
  <!--
    <link rel="stylesheet" href="css/custom.css" type="text/css" media="all" />
  -->
  <meta name="ebi:masthead-color" content="#000000" />
  <meta name="ebi:masthead-image" content="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.1/images/backgrounds/embl-ebi-background-4.jpg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@emblebi" />
  <meta name="twitter:site:id" content="123582098" />
  <meta name="twitter:creator" content="@emblebi" />
  <meta name="twitter:creator:id" content="123582098" />
  <meta name="twitter:title" content="Employee benefits" />
  <meta name="twitter:url" content="https://www.ebi.ac.uk/about/jobs/benefits/" />
  <meta name="twitter:description" content="We value your skills, wherever you may come from and we offer a generous benefits package to support you." />
  <meta property="og:image" content="https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/ebi-working-from-home.png?force_format=jpg" />

  <!-- you can replace this with theme-[projectname].css. See http://www.ebi.ac.uk/web/style/colour for details of how to do this -->
  <!-- also inform ES so we can host your colour palette file -->
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/css/theme-embl-petrol.css" type="text/css" media="all" />
  <!-- end CSS-->
</head>

<body class="ebi-vf1-integration"><!-- add any of your classes or IDs -->
  <div id="skip-to">
    <ul>
      <li><a href="#content">Skip to main content</a></li>
      <li><a href="#local-nav">Skip to local navigation</a></li>
      <li><a href="#global-nav">Skip to EBI global navigation menu</a></li>
      <li><a href="#global-nav-expanded">Skip to expanded EBI global navigation menu (includes all sub-sections)</a></li>
    </ul>
  </div>

  <header id="masthead-black-bar" class="clearfix masthead-black-bar">
    <nav class="row">
      <ul id="global-nav" class="menu">
        <!-- set active class as appropriate -->
        <li class="home-mobile"><a href="//www.ebi.ac.uk"></a></li>
        <li class="home"><a href="//www.ebi.ac.uk">EMBL-EBI</a></li>
        <li class="services"><a href="//www.ebi.ac.uk/services">Services</a></li>
        <li class="research"><a href="//www.ebi.ac.uk/research">Research</a></li>
        <li class="training"><a href="//www.ebi.ac.uk/training">Training</a></li>
        <li class="about active"><a href="//www.ebi.ac.uk/about">About us</a></li>
        <li class="search">
          <a href="#" data-toggle="search-global-dropdown"><span class="show-for-small-only">Search</span></a>
          <div id="search-global-dropdown" class="dropdown-pane" data-dropdown data-options="closeOnClick:true;">
          <!-- The dropdown menu will be programatically added by script.js -->
          </div>
        </li>
        <li class="float-right show-for-medium embl-selector">
          <button class="button float-right" type="button" data-toggle="embl-dropdown">Hinxton</button>
          <!-- The dropdown menu will be programatically added by script.js -->
        </li>
      </ul>
    </nav>
  </header>
  <div data-sticky-container>
    <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="content:top" data-btm-anchor="content:bottom">
      <div class="masthead-inner row">
        <!-- local-title -->
        <div class="columns medium-12" id="local-title">
          <h1><a href="/about" title="Back to About us">About us</a></h1>
        </div>
        <!-- /local-title -->
        <!-- local-nav -->
        <nav>
          <ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
            <li class="first"><a href="/about" class="">Overview</a></li>
            <li class="active-trail last active "><a href="/about/jobs" class="active-trail active" title="Opportunities at EMBL-EBI">Jobs</a></li>
            <li class=""><a href="/about/people" title="Staff directory">People &amp; groups</a></li>
            <li class=""><a href="/about/news" title="">News</a></li>
            <li class=""><a href="/about/events">Events</a></li>
            <li class=""><a href="/about/contact" title="Contact External Relations">Contact us</a></li>
          </ul>
        </nav>
        <!-- /local-nav -->
      </div>
    </header>
  </div>
  <div id="content">
    <!-- Suggested layout containers -->
    <section id="main-content-area" class="" role="main">
      <!-- Your menu structure should make a breadcrumb redundant, but if a breadcrumb is needed uncomment the below -->
      <!-- <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="../../">EBI Framework</a></li>
          <li><a href="../">Sample pages</a></li>
          <li>
            <span class="show-for-sr">Current: </span> Blank boilerplate
          </li>
        </ul>
      </nav> -->

      <!--.l-main -->
      <main id="main-content-area" role="main" class="row l-main">
        <div class="secondary-menu vf-u-padding__top--200">
          <div class="menu-block-wrapper menu-block-4 menu-name-main-menu parent-mlid-0 menu-level-3">
            <ul class="menu menu-tree-menu">
              <li class="first leaf  menu-mlid-3403"><a href="/about/jobs" class="">Vacancies</a></li>
              <li class="leaf has-children menu-mlid-17998"><a href="/about/jobs/internships" title="">Internships</a></li>
              <li class="leaf has-children menu-mlid-3404"><a href="/about/jobs/career-profiles">Life at EMBL-EBI</a></li>
              <li class="first leaf menu-mlid-3403"><a href="/about/jobs/recruitment-covid19" class="">Recruitment during COVID-19</a></li>
              <li class="first leaf active-trail active menu-mlid-3403"><a href="/about/jobs/benefits" class="active-trail active">Employee benefits</a></li>
              <li class="last leaf menu-mlid-22885"><a href="/about/jobs/international-applicants">International applicants</a></li>
            </ul>
          </div>
        </div>
  
        <!-- Import article from contentHub  -->
        <link rel="import" href="https://www.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=108062&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>

      <!-- END VF 2.0 -->
      </main>
      <!--/.l-main -->

      <!--.l-footer -->
      <footer>
      <div id="global-footer" class="global-footer">
      <nav id="global-nav-expanded" class="global-nav-expanded row">
      <!-- Footer will be automatically inserted by footer.js -->
      </nav>
      <section id="ebi-footer-meta" class="ebi-footer-meta row">
      <!-- Footer meta will be automatically inserted by footer.js -->
      </section>
      </div>

    </section>
    <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
    <!--
    <footer id="local-footer" class="local-footer" role="local-footer">
      <div class="row">
        <span class="reference">How to reference this page: ...</span>
      </div>
    </footer>
    -->
    <!-- End optional local footer -->
  </div>
  <!-- End suggested layout containers / #content -->

  <footer>
    <div id="global-footer" class="global-footer">
      <nav id="global-nav-expanded" class="global-nav-expanded row">
        <!-- Footer will be automatically inserted by footer.js -->
      </nav>
      <section id="ebi-footer-meta" class="ebi-footer-meta row">
        <!-- Footer meta will be automatically inserted by footer.js -->
      </section>
    </div>
  </footer>

  <!-- VF 2.0 CSS, JS -->
  <link rel="stylesheet" href="https://assets.emblstatic.net/vf/v2.4.7/css/styles.css" />
  <script src="https://assets.emblstatic.net/vf/v2.4.7/scripts/scripts.js"></script>

  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script defer="defer" src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/script.js"></script>

  <!-- The Foundation theme JavaScript -->
  <script src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/libraries/foundation-6/js/foundation.js"></script>
  <script src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/foundationExtendEBI.js"></script>
  <script type="text/JavaScript">$(document).foundation();</script>
  <script type="text/JavaScript">$(document).foundationExtendEBI();</script>

  <!-- Google Analytics details... -->
  <script type="text/javascript">!function(e,a,n,t,i,o,c){e.GoogleAnalyticsObject=i,e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date,o=a.createElement(n),c=a.getElementsByTagName(n)[0],o.async=1,o.src="//www.google-analytics.com/analytics.js",c.parentNode.insertBefore(o,c)}(window,document,"script",0,"ga"),ga("create","UA-629242-1",{cookieDomain:"auto"}),ga("require","linkid","linkid.js"),ga("set","anonymizeIp",!0),ga("send","pageview");</script>
</body>
</html>
