---
subtitle: Events
date: 2018-08-22 12:24:50
layout: layouts/full.njk
templateEngineOverride: njk
---
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" dir="ltr"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="ImageToolbar" content="false" />
  <meta name="keywords" content="Industry, Training, Seminar, Events, External" />
  <link rel="canonical" href="https://www.ebi.ac.uk/about/events" />
  <meta name="ebi:masthead-color" content="#111111" />
  <meta name="ebi:masthead-image"
    content="https://www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.1/images/backgrounds/embl-ebi-background-4.jpg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@emblebi" />
  <meta name="twitter:site:id" content="123582098" />
  <meta name="twitter:creator" content="@emblebi" />
  <meta name="twitter:creator:id" content="123582098" />
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:url" content="https://www.ebi.ac.uk/about/events" />
  <meta name="twitter:description" content="The latest training and industry events, including external seminars" />
  <title>{{ title }} | EMBL’s European Bionformatics Institute</title>
  <link rel="stylesheet" href="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/css/ebi-global.css" />
  <link rel="stylesheet" href="//ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.3/fonts.css" />
  <link rel="stylesheet" href="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/css/theme-ebi-services-about.css" />

  <!-- If you have custom icon, replace these as appropriate.
       You can generate them at realfavicongenerator.net -->
  <link rel="icon" type="image/x-icon"
    href="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/favicon.ico" />
  <link rel="icon" type="image/png"
    href="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="192×192"
    href="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/android-chrome-192x192.png" />
  <!-- Android (192px) -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-icon-114x114.png" />
  <!-- For iPhone 4 Retina display (114px) -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72"
    href="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-icon-72x72.png" />
  <!-- For iPad (72px) -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-icon-144x144.png" />
  <!-- For iPad retinat (144px) -->
  <link rel="apple-touch-icon-precomposed"
    href="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-icon-57x57.png" />
  <!-- For iPhone (57px) -->
  <link rel="mask-icon"
    href="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/safari-pinned-tab.svg"
    color="#ffffff" /> <!-- Safari icon for pinned tab -->
  <meta name="msapplication-TileColor" content="#2b5797" /> <!-- MS Icons -->
  <meta name="msapplication-TileImage"
    content="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/mstile-144x144.png" />
</head>

<body
  class="html not-front not-logged-in no-sidebars page-node page-node- page-node-15915 node-type-panel section-about role-anonymous-user user-0 page-about-events section-about subsection-events subdomain-none subsite-none level1 datacentre-none environment-none">
  <div id="skip-to">
    <ul>
      <li><a href="#content">Skip to main content</a></li>
      <li><a href="#local-nav">Skip to local navigation</a></li>
      <li><a href="#global-nav">Skip to EBI global navigation menu</a></li>
      <li><a href="#global-nav-expanded">Skip to expanded EBI global navigation menu (includes all sub-sections)</a></li>
    </ul>
  </div>
  <header id="masthead-black-bar" class="clearfix masthead-black-bar"></header>
  <!--.l-header -->
  <div data-sticky-container>
    <header id="masthead" class="masthead " data-sticky data-sticky-on="large" data-top-anchor="content:top"
      data-btm-anchor="content:bottom">
      <div class="masthead-inner row">
        <!-- local-title -->
        <div class="columns medium-12" id="local-title">
          <h1><a href="/about" title="Back to About us">About us</a></h1>
        </div>
        <!-- /local-title -->

        <!-- local-nav -->
        <nav id="main-menu" class="navigation " role="navigation">
          <ul id="secondary-menu-links" data-dropdown-menu="true" class="dropdown menu float-left">
            <li class="menu-3055 first"><a href="/about">Overview</a></li>
            <li class="menu-3098"><a href="/about/jobs" title="Opportunities at EMBL-EBI">Jobs and careers</a></li>
            <li class="menu-3173"><a href="/about/people" title="Staff directory">People &amp; groups</a></li>
            <li class="menu-3402"><a href="/about/news" title="">News</a></li>
            <li class="menu-7857 active-trail active"><a href="/about/events" class="active-trail active">Events</a>
            </li>
            <li class="menu-3329 last"><a href="https://www.ebi.ac.uk/about/contact"
                title="Contact External Relations">Contact us</a></li>
          </ul>
        </nav> <!-- /#main-menu -->
        <!-- /local-nav -->
      </div>
    </header>

  </div>
  <!--/.l-header -->

  <!--.page -->
  <div id="content" role="document" class="page">






    <!--.l-main -->
    <main id="main-content-area" role="main" class="row l-main"  about="/about/events"
          typeof="sioc:Item foaf:Document">

      <!-- .l-main region -->
      <div class=" main columns">

        <a id="main-content"></a>
          <span property="dc:title" content="Events" class="rdf-meta element-hidden"></span>
          <div class="row">
            <div class="medium-12 columns analytics-content-main">
              <div class="panel-pane pane-custom pane-1" id="hero-unit">
                <div class="pane-content">
                  <div class="inner white-background columns small-3 padding-top-large">
                    <h3><a href="#upcoming-wraper" class="no-underline">Courses, seminars and public events <br />on <span class="topic-count">many</span> topics</a></h3>
                    <small>EMBL-EBI events provide opportunities for you to learn new skills and experience some of the
                      creativity and ambitious thinking of the <a href="https://www.ebi.ac.uk/about">Wellcome Genome Campus
                        community</a>.</small>
                    {# <div><a class="button" href="#upcoming-wraper">Find an upcoming event &raquo;</a></div> #}
                  </div>
                </div>
              </div>
              <div class="panel-pane pane-custom pane-2 featured-event-group">
                <div id="featured-events-content-placeholder"></div>
              </div>
              <div id="upcoming-wraper">

                <div class="filter">
                  <input id="livefilter" class="filter" name="livefilter" multiple="multiple" style="width:300px"
                    class="populate placeholder" />
                  <form id="filter-buttons">
                    <input type="radio" name="type" value="reset" checked>All
                    <input type="radio" name="type" value="public event">Public event
                    <input type="radio" name="type" value="seminar">Seminar
                    <input type="radio" name="type" value="course">Course
                    <input type="radio" name="type" value="webinar">Webinar
                  </form>
                </div>
                <div id="upcoming-events-content-placeholder"></div>
                <div class="events-archive-link">Looking for a past event? <a class="button"
                    href="/about/events/archive">View the event archive &raquo;</a></div>
              </div>

              {% raw %}
              <!-- Handlebars template for featured events -->
              <script id="featured-events-template" type="text/x-handlebars-template">
                {{#each (limit nodes 2)}}
                  <div class="columns medium-6 padding-top-large padding-bottom-large padding-right-xlarge">
                    <a href="https://www.ebi.ac.uk/{{path}}" class="featured-event no-underline">
                      {{#featured_image}}
                        <div class="image-wrapper"><img src="{{uri}}" width={{width}}px height={{height}}px /></div>
                      {{/featured_image}}
                      <h5>{{title}}</h4>
                      <p>{{smartDescription title short_description}}</p>
                      <div class="button">Learn more</div>
                      {{#starts}}
                        <span class="date">{{smartDates value value2}}</span>
                      {{/starts}}
                    </a>
                  </div>
                {{/each}}
              </script>

              <!-- Handlebars template for the events listing -->
              <script id="upcoming-events-template" type="text/x-handlebars-template">
                {{#nodes}}
                  {{#starts}}
                    {{{headerMonth value}}}
                  {{/starts}}
                  <div class="upcoming-event {{toLowerCase bundle_name}} {{#starts}} {{cssMonth value}} {{/starts}}">
                    <a href="https://www.ebi.ac.uk/{{path}}" class="main-link">
                      <span class="event-name {{toLowerCase bundle_name}}">{{smartEventsName title}}</span>
                      <span class="event-type">{{bundle_name}}</span>
                      {{#starts}}
                        <span class="event-date">{{smartDates value value2}}</span>
                      {{/starts}}
                      <span class="event-register">Learn more &raquo;</span>
                    </a>

                    <div class="hidden">
                      {{#field_long_description}}
                        <span class="description">{{{trimString safe_value}}}</span>
                      {{/field_long_description}}
                    </div>

                  </div>
                {{/nodes}}
              </script>
              {% endraw %}
            </div>
          </div>
      </div>
      <!--/.l-main region -->
    </main>
    <!--/.l-main -->

    <!--.footer-columns -->
    <section class="row l-footer-columns">
      <div class="footer columns">
        <section class="block block-block block-block-90">
          <!-- 
            2018-05-16
            Adds the now removed with-overlay pattern while we migrate content from it 
            -->
          <style>
            .medium-4>.with-overlay,
            .medium-3>.with-overlay {
              margin-bottom: .75rem;
            }

            .with-overlay {
              position: relative;
            }

            .with-overlay .caption {
              background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.7));
              background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.7));
              background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.7));
              background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
              position: absolute;
              top: 0;
              height: 100%;
              width: 100%;
              padding: 5% 5%;
              color: #fff;
              opacity: 1;
              text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
            }

            .with-overlay .caption:hover {
              background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(100, 100, 100, 0.3));
              background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(100, 100, 100, 0.3));
              background: -moz-linear-gradient(rgba(0, 0, 0, 0.6), rgba(100, 100, 100, 0.3));
              background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(100, 100, 100, 0.3));
              color: #FFF;
            }

            .with-overlay .caption .inner {
              position: absolute;
              bottom: 5%;
              width: 95%;
              padding-right: 4rem;
            }

            .with-overlay .caption>a.inner {
              color: #fff;
              text-decoration: none;
              border-bottom: none;
              font-size: 1.4rem;
              line-height: 1.4em;
              padding-top: 50%;
            }

            .with-overlay .caption>a:after {
              font-family: "EBI-Functional";
              content: " >";
              display: inline-block;
              float: right;
              font-size: 1.7rem;
              position: relative;
              top: -.1rem;
              left: 2rem;
            }

            .with-overlay .caption:hover>a.inner {
              color: #fff;
            }
          </style>
        </section>
      </div>
    </section>
    <!--/.footer-columns-->


  </div>
  <!--/.page -->
  {% include "footer-js.njk" %}
  <!--
    NOTE 

    have had to change the JQ no conflict to jq111 inside select2
    and have had to use a newer version jquery in no conflict mode
    really weak sauce, but maybe it passes. to discuss ...
  -->

  <script src="https://www.ebi.ac.uk/web_guidelines/js/events/jquery-1.11.3.min.js"></script>
  <script>
    jq111 = jQuery.noConflict(true);
  </script>
  <!-- code for select2 drop downs -->
  <link href="https://www.ebi.ac.uk/web_guidelines/js/events/select2/select2.css" rel="stylesheet" />
  <script src="https://www.ebi.ac.uk/web_guidelines/js/events/select2/select2.js"></script>

  <!-- code for handlebars -->
  <link href="https://www.ebi.ac.uk/web_guidelines/js/events/events-landingpage.css" rel="stylesheet">
  <script src="https://www.ebi.ac.uk/web_guidelines/js/events/handlebars-v3.0.3.js"></script>
  <script src="https://www.ebi.ac.uk/web_guidelines/js/events/ebi-livefilter.js"></script>
  {# <script src="https://www.ebi.ac.uk/web_guidelines/js/events/events-landingpage.js"></script> #}
  <script>
    // The main thread
    // again, note that we've used jquery no conflict with the variable jq111 - :(..
    (function ($) {
      $( document ).ready(function() {
        function drupalStyleIDs (data) {
          // Make an ID to match the drupal way ... spaces to hyphens, no ampersands and so forth
          $(data).each( function() {
            this.id = this.name.replace(/ /g, '-').replace(/,/g, '').replace(/\&/g, '').replace(/\./g, '').replace(/--/g, '-').toLowerCase(); //todo: regex...
          });    
          return data;  
        }

        // filter out topics that have no associated nodes
        // https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Array/filter
        function filterByCount(obj) {
          return (obj.count > 0) ? true : false; 
        }

        // pull in the json list of topics and then strap select 2
        var jsonEbiTopics, jsonTopics;
        $.when(
          $.getJSON('https://www.ebi.ac.uk/sites/ebi.ac.uk/files/data/events-taxonomy-feed-ebi-topic.json', function(data) {
              jsonEbiTopics = data;
          }),
          $.getJSON('https://www.ebi.ac.uk/sites/ebi.ac.uk/files/data/events-taxonomy-feed-topic.json', function(data) {
              jsonTopics = data.filter(filterByCount); // filter out 0 count topics
          })
        ).then(function() {
          if (jsonEbiTopics && jsonTopics) {
            // We haz data

            // programatically create an ID.
            jsonEbiTopics = drupalStyleIDs(jsonEbiTopics);
            jsonTopics = drupalStyleIDs(jsonTopics);

            // how many topics?
            var numberOfEntries = jsonEbiTopics.length + jsonTopics.length;
            $('.topic-count').html(numberOfEntries);

            // a "spacer"
            var spacerRow = [{"name":"---------","clean_path":"","count":0}]; 

            var combinedTopics = jsonEbiTopics.concat(spacerRow).concat(jsonTopics);

            function format(item) { return item.name; }
            
            // invoke select2
            $('#e1, #e2').select2({
              // bookmark for more options: http://select2.github.io/select2/
              placeholder: 'Select a topic',
              data:{ results: combinedTopics, text: 'name' },
              formatSelection: format,
              formatResult: format
            });

            // redirect when user selects an item
            $('#e1, #e2')
              .on("change", function(e) { 
                // alert('logic not yet implemented: where is the right URL home for EBI topics and general topics?')
                window.location.href = "https://www.ebi.ac.uk/about/topic/"+e.val;
                // console.log("change "+JSON.stringify({val:e.val, added:e.added, removed:e.removed})); 
              })
          }
          else {
            // A JSON request has failed ...
          }
        });

        // ----------------
        //invoke the handlebars template for the upcoming events list
        // ----------------
        var sourceUpcomingEvents   = $("#upcoming-events-template").html();
        var templateUpcomingEvents = Handlebars.compile(sourceUpcomingEvents);
        $.getJSON("https://www.ebi.ac.uk/sites/ebi.ac.uk/files/data/events-common-fields-feed-upcoming-events.json", function(data) {
        // $.getJSON("/sites/ebi.ac.uk/files/data/events-common-fields-feed-upcoming-events-3-month.json", function(data) {
          var parsedData = { "nodes" : data };

          // console.log(data);
          
          $("#upcoming-events-content-placeholder").html(templateUpcomingEvents(parsedData));

          // invoke the keyword filter
          $('#upcoming-wraper').liveFilter('#upcoming-events-content-placeholder');

          // Group the months together
          var split_at = '#upcoming-wraper h3';
          $(split_at).each(function() {
            $(this).add($(this).nextUntil(split_at)).wrapAll("<div class='month-group'/>");
          });

        });

        // ----------------
        // Invoke the handlebars template for the featured events list
        // ----------------
        var sourceFeaturedEvents   = $("#featured-events-template").html();
        var templateFeaturedEvents = Handlebars.compile(sourceFeaturedEvents);

        $.getJSON("https://www.ebi.ac.uk/sites/ebi.ac.uk/files/data/events-featured-events-feed-featured-events.json", function(data) {
            var now = $.now();  // Get current time
            var featuredData = data.filter(function(elem){    // Remove featured events older than now
              var eventDate = new Date(elem.starts.value);
              return eventDate.getTime() > now; 
            });
        
            var parsedData = { "nodes" : featuredData };
          //var parsedData = { "nodes" : data };
          // console.log(data);
          $("#featured-events-content-placeholder").html(templateFeaturedEvents(parsedData));
        });

        // ----------------
        // Show the last-chance topic bar as user scrolls
        // ----------------
        var scrolledAmount = 0,
            eventsListingPosition = $('#upcoming-wraper').position();

        //pad position by ###px so it starts after the user scrolls past
        eventsListingPosition.top += 250;

        $(window).scroll(function (event) {
          scrolledAmount = $(window).scrollTop();
          if (scrolledAmount > eventsListingPosition.top) {
            $('.topic-bar').addClass('active');
          } else {
            $('.topic-bar').removeClass('active');
          }
        });

        // ----------------
        // Smooth scroll anchor links
        // ----------------
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top - 100 // -100 pixels as a buffer
              }, 700);
              $(target).parent().parent().delay(1000).fadeTo(500, 0.5).fadeTo(500, 1); //flash it so the user sees it ...
              return false;
            }
          }
        });


      });
    }(jq111));  
    </script>
  <script src="https://www.ebi.ac.uk/web_guidelines/js/events/handlebars-helpers.js"></script>
  {% include "footer.njk" %}
</body>

</html>